::ng-deep {
  body
{
  margin: 0;
  padding: 0;
}

$menuBackground: #F9F9F9;
$menuHover: #F2F6F7;
$menuActive: #E8ECED;


@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");

.uikit-f-light, .uikit-h1, .uikit-h2, .uikit-primary .uikit-primary__title, .uikit-primary .uikit-primary__subtitle {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased; }

.uikit-f-regular, .uikit-subheading, .uikit-paragraph, .uikit-button, .uikit-palette .uikit-color, .uikit-primary .uikit-primary__level2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased; }

.uikit-f-medium, .uikit-h3, .uikit-palette .uikit-color .uikit-color__name, .uikit-table thead th, .uikit-swatch .uikit-swatch__footer .uikit-swatch__label, .uikit-primary .uikit-primary__level1, .uikit-page-home .uikit-system .uikit-item .uikit-item__title {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased; }

.uikit-f-xxs {
  font-size: 0.5rem; }

.uikit-f-xs, .uikit-tag, .uikit-primary .uikit-primary__level1 {
  font-size: 0.85rem; }

.uikit-f-s, .uikit-paragraph, .uikit-button, .uikit-palette .uikit-color, .uikit-swatch .uikit-swatch__footer .uikit-swatch__label, .uikit-primary .uikit-primary__level2 {
  font-size: 1rem; }

.uikit-f-m, .uikit-h3, .uikit-subheading, .uikit-primary .uikit-primary__subtitle {
  font-size: 1.414rem; }

.uikit-f-l, .uikit-primary .uikit-primary__title {
  font-size: 1.999rem; }

.uikit-f-xl, .uikit-h2 {
  font-size: 2.827rem; }

.uikit-f-xxl, .uikit-h1 {
  font-size: 3.998rem; }

.uikit-h1 {
  margin: 124px 0 0;
  color: #4C4C4C;
  line-height: 1.57; }

.uikit-h2 {
  margin: 0;
  color: #868e96;
  line-height: 1.57; }

.uikit-h3 {
  color: #4C4C4C;
  line-height: 1.57; }

.uikit-subheading {
  margin: 0;
  color: #6f6f6f;
  line-height: 1.57; }

.uikit-paragraph {
  margin-top: 0;
  color: #4C4C4C;
  line-height: 1.57; }

em, .uikit-swatch .uikit-swatch__footer .uikit-swatch__legend {
  display: inline-block;
  margin-right: 10px;
  background: #e9ecef;
  padding: 4px 8px;
  border-radius: 4px;
  font-style: normal;
  color: #3486b9; }

.uikit-button {
  display: inline-block;
  padding: 8px 16px;
  background: #0d3050;
  border-radius: 4px;
  color: white;
  text-decoration: none;
  -webkit-box-shadow: 0 2px 16px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 16px rgba(0, 0, 0, 0.2);
  -webkit-transition: all .5s;
  transition: all .5s; }
  .uikit-button:hover, .uikit-button:focus {
    background: #144a7c; }
  .uikit-button:active {
    background: #1b65a8; }
  .uikit-button.-outline {
    background: white;
    color: #0d3050;
    border: 1px solid #0d3050;
    -webkit-box-shadow: none;
            box-shadow: none; }
    .uikit-button.-outline:hover {
      background: #f1f3f5; }

.uikit-tag {
  display: inline-block;
  background: #4C4C4C;
  padding: 4px 8px 2px;
  border-radius: 4px;
  position: relative;
  top: -4px;
  color: #4C4C4C; }

.uikit-palette {
  margin: 32px 0; }
  .uikit-palette .uikit-color {
    border-bottom: 1px solid #e9ecef; }
    .uikit-palette .uikit-color:last-child {
      border-bottom: 0; }
    .uikit-palette .uikit-color .uikit-color__inner {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; display: -ms-flexbox;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin: 4px 0px;
      padding: 0px 8px; }
    .uikit-palette .uikit-color .uikit-color__swatch {
      width: 48px;
      height: 48px;
      border-radius: 4px;
      background: currentColor; }
    .uikit-palette .uikit-color .uikit-color__name {
      display: inline-block;
      padding: 0px 8px; }
    .uikit-palette .uikit-color .uikit-color__variable {
      display: inline-block;
      background: white;
      padding: 4px 4px;
      border-radius: 4px;
      font-style: normal;
      color: #343a40; }

.uikit-table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
    border-spacing: 0;
 }
  .uikit-table thead th {
    padding: 12px 0;
    text-transform: uppercase;
    color: #6f6f6f;
    border-bottom: 2px solid #dee2e6; }
  .uikit-table tbody tr {
    border-bottom: 1px solid #dee2e6; }
    .uikit-table tbody tr:last-child {
      border-bottom: 0; }
    .uikit-table tbody tr td {
      padding: 8px 0px;
      color: #4C4C4C; }
      .uikit-table tbody tr td.uikit-icon__legend {
        font-size: 20px; }
      .uikit-table tbody tr td:first-child {
        width: 25%; }
      .uikit-table tbody tr td.-middle {
        vertical-align: middle; }

.hljs {
  padding: 24px 16px;
  color: #657b83;
  background: #f1f3f5;
  border-left: 4px solid #dee2e6;
  border-radius: 3px; }

.hljs-tag {
  display: inline-block; }

.hljs-comment,
.hljs-quote {
  color: #a9b6b6; }

.hljs-addition,
.hljs-keyword,
.hljs-selector-tag {
  color: #2aa198; }

.hljs-doctag,
.hljs-literal,
.hljs-meta .hljs-meta-string,
.hljs-number,
.hljs-regexp,
.hljs-string {
  color: #f0506e; }

.hljs-class,
.hljs-name,
.hljs-section,
.hljs-selector-class,
.hljs-selector-id,
.hljs-title {
  color: #63a35c;
  font-weight: normal; }

.hljs-attr,
.hljs-attribute,
.hljs-class .hljs-title,
.hljs-template-variable,
.hljs-type,
.hljs-variable {
  color: #795da3; }

.hljs-value {
  color: #f0506e; }

.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-meta .hljs-keyword,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-subst,
.hljs-symbol {
  color: #cb4b16; }

.uikit-swatch {
  border: 1px solid #e9ecef;
  border-radius: 4px; }
  .uikit-swatch .uikit-swatch__body {
    padding: 16px;
    background: #F2F6F7; }
    .uikit-swatch .uikit-swatch__body.-light {
      background: #FFFFFF; }
    .uikit-swatch .uikit-swatch__body.-dark {
      background: #292929; }
  .uikit-swatch .uikit-swatch__footer {
    padding: 8px 16px;
    border-top: 1px solid #f1f3f5; }
    .uikit-swatch .uikit-swatch__footer.-code {
      background: #f1f3f5; }
    .uikit-swatch .uikit-swatch__footer .uikit-swatch__label {
      margin-right: 8px;
      color: #343a40; }
  .uikit-swatch .uikit-swatch__code {
    display: block;
    margin: 8px 0; }
    .uikit-swatch .uikit-swatch__code .hljs {
      border-radius: 0; }


      .uikit-primary
      {
        display: none;
      }
      @media screen and (min-width: 1300px) {
.uikit-primary {
  position: fixed;
  display: block;
  width: 300px;
  height: 100vh;
  overflow: auto;
  background: $menuBackground;}
}

  @media screen and (min-width: 1180px) {
    .uikit-primary {
      display: block;
      width: 300px; }
  .uikit-primary .uikit-primary__header {
    text-align: center;
    text-decoration: none;}
  .uikit-primary .uikit-primary__home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; display: -ms-flexbox;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 60px;
    height: 60px;
    margin: 60px auto 16px auto;
    background: #0d3050;
    border-radius: 4px; }
  .uikit-primary .uikit-primary__home.-light {
    background: #FFFFFF; }
  .uikit-primary .uikit-primary__title {
    color: #4C4C4C; }
  .uikit-primary .uikit-primary__subtitle {
    color: #868e96; }
  .uikit-primary .uikit-primary__body {
    margin-top: 32px;
    margin-bottom: 32px; }
  .uikit-primary .uikit-primary__list {
    list-style: none;
    padding: 0; }
    .uikit-primary .uikit-primary__list .uikit-primary__list {
      margin-top: 16px; }
  .uikit-primary .uikit-primary__level1 {
    display: block;
    margin-top: 32px;
    text-transform: uppercase; }
    .uikit-primary .uikit-primary__level1 .uikit-primary__itemlevel1 {
      padding: 2px 8px 2px 24px;
      color: #4C4C4C;
      opacity: .5; }
  .uikit-primary .uikit-primary__level2 {
    margin: 4px 16px;
    padding: 2px 8px;
    text-transform: none; }
    .uikit-primary .uikit-primary__level2 a {
      display: block;
      width: 100%;
      padding: 8px 0px;
      color: #4C4C4C;
      text-decoration: none; }
    .uikit-primary .uikit-primary__level2.-active {
      background: $menuActive;
      border-radius: 4px; }
    .uikit-primary .uikit-primary__level2:hover {
      background: $menuHover;
      border-radius: 4px; }}

html,
body {
  font-size: 16px;
  line-height: 1.2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: white; }

.uikit .uikit-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; display: -ms-flexbox; }

.uikit .uikit-body {
  min-height: 100vh;
  background: white;
  padding-top: 0 !important;
  width: 100%; }




  @media screen and (min-width: 1300px) {
    .uikit .uikit-body {
      padding-left: 342px;
      padding-right: 42px; } }

.uikit .uikit-section {
  margin-top: 80px;
padding: 0 10%; }
  .uikit .uikit-section:last-child {
    margin-bottom: 160px; }
  .uikit .uikit-section.-separator {
    padding-bottom: 80px;
    margin-bottom: 80px;
    border-bottom: 1px solid #e9ecef; }

    .uikit-section.-separator {
      padding-bottom: 80px;
      margin-bottom: 80px;
      border-bottom: 1px solid #e9ecef; }

.uikit-page-home .welcome .uikit-h1 {
  line-height: 1; }

.uikit-page-home .welcome .uikit-h2 {
  display: inline-block;
  color: #bebebe;
  line-height: 1; }

.uikit-page-home .welcome .uikit-tag {
  margin-left: 8px; }

.uikit-page-home .welcome .uikit-subheading {
  margin-top: 16px;
  color: #6f6f6f; }

.uikit-page-home .uikit-system {
  margin-top: 80px;
  padding-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; display: -ms-flexbox;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-bottom: 1px solid #f1f3f5; }
  .uikit-page-home .uikit-system .uikit-item {
    padding-right: 16px;
    width: 33.333%; }
    .uikit-page-home .uikit-system .uikit-item:nth-last-child(-n + 2) {
      margin-top: 32px; }
    .uikit-page-home .uikit-system .uikit-item .uikit-item__title {
      margin: 32px 0 0;
      color: #4C4C4C; }
    .uikit-page-home .uikit-system .uikit-item .uikit-item__description {
      margin-top: 8px;
      color: #4C4C4C; }

.uikit-page-home .uikit-download {
  margin-top: 80px;
  margin-bottom: 80px; }
  .uikit-page-home .uikit-download .uikit-h3 {
    margin-bottom: 16px; }
  .uikit-page-home .uikit-download .uikit-button {
    margin-right: 16px; }




    .uikit-icon__icon
    {
      font-size: 30px;
    }

    .uikit-section
    {
      padding: 0 10%;
    }

    .square
    {
      width: 50px;
      height: 50px;
      border: none;
      background-color: #fff;

      &.-stylized
      {
        color: #fff;
        background-color: #4C4C4C;
      }
    }
}
