.*.swp
._*
.DS_Store
.hg
.npmrc
.lock-wscript
.svn
.wafpickle-*
config.gypi
CVS
npm-debug.log
package-lock.json

# git
.git
.gitignore

# node modules
node_modules/

# gulp
gulpfile.js

# visual studio code
.vscode/

# v2
tsconfig.json
tslint.js
.circleci
*.ts
!*.d.ts
!schematics/*/files/**/*.ts
