<div class="uikit-inner">
    <div class="app-express">
      <section class="uikit-section">
        <h1 class="uikit-h1">
          Padding
        </h1>
        <p class="uikit-subheading">
            The padding sits between the border and the content area.
            Unlike paddings you cannot have negative amounts of padding, so the value must be 0 or a positive value.
            Any background applied to your element will display behind the padding, and it is typically used to push the content away from the border.
        </p>
        <p class="uikit-subheading">
            For the examples below, let's assume that our HTML boxes without style are white square and the ones stylized are grey.
            In the stylized boxes the lighter grey is the active content box.
        </p>
      </section>
      <section class="uikit-section -separator">
        <h2 class="uikit-h2">
          Padding
        </h2>
        <div class="uikit-swatch">
          <div class="uikit-swatch__body flex">
            <div class="square"></div>
          <div class="square -stylized p-none"><div class="bg-grey04 w-100 h-100"></div></div>
          </div>
          <div class="uikit-swatch__footer">
            <span class="uikit-swatch__label">
              No-padding
            </span>
            <span class="uikit-swatch__code">
                &lt;div&gt;&lt;/div&gt;<br/>&lt;div class=&quot;p-none&quot;&gt;&lt;/div&gt;<br/>
            </span>
            <span class="uikit-swatch__legend">
              .p-none
            </span>
          </div>
        </div>
        <div class="uikit-swatch mt-m">
          <div class="uikit-swatch__body flex">
            <div class="square"></div>
            <div class="square -stylized p-xxs"><div class="bg-grey04 w-100 h-100"></div></div>
          </div>
          <div class="uikit-swatch__footer">
            <span class="uikit-swatch__label">
                Smallest padding
            </span>
            <span class="uikit-swatch__code">
                &lt;div&gt;&lt;/div&gt;<br/>&lt;div class=&quot;p-xxs&quot;&gt;&lt;/div&gt;<br/>
            </span>
            <span class="uikit-swatch__legend">
                .p-xxs
            </span>
          </div>
        </div>
        <div class="uikit-swatch mt-m">
          <div class="uikit-swatch__body flex">
            <div class="square"></div>
            <div class="square -stylized p-xs"><div class="bg-grey04 w-100 h-100"></div></div>
          </div>
          <div class="uikit-swatch__footer">
            <span class="uikit-swatch__label">
                XS size padding
            </span>
            <span class="uikit-swatch__code">
                &lt;div&gt;&lt;/div&gt;<br/>&lt;div class=&quot;p-xs&quot;&gt;&lt;/div&gt;<br/>
            </span>
            <span class="uikit-swatch__legend">
                .p-xs
            </span>
          </div>
        </div>
        <div class="uikit-swatch mt-m">
          <div class="uikit-swatch__body flex">
            <div class="square"></div>
            <div class="square -stylized p-s"><div class="bg-grey04 w-100 h-100"></div></div>
          </div>
          <div class="uikit-swatch__footer">
            <span class="uikit-swatch__label">
                S size padding
            </span>
            <span class="uikit-swatch__code">
                &lt;div&gt;&lt;/div&gt;<br/>&lt;div class=&quot;p-s&quot;&gt;&lt;/div&gt;<br/>
            </span>
            <span class="uikit-swatch__legend">
                .p-s
            </span>
          </div>
        </div>
        <div class="uikit-swatch mt-m">
          <div class="uikit-swatch__body flex">
            <div class="square"></div>
            <div class="square -stylized p-m"><div class="bg-grey04 w-100 h-100"></div></div>
          </div>
          <div class="uikit-swatch__footer">
            <span class="uikit-swatch__label">
                M size padding
            </span>
            <span class="uikit-swatch__code">
                &lt;div&gt;&lt;/div&gt;<br/>&lt;div class=&quot;p-m&quot;&gt;&lt;/div&gt;<br/>
            </span>
            <span class="uikit-swatch__legend">
                .p-m
            </span>
          </div>
        </div>
        <div class="uikit-swatch mt-m">
          <div class="uikit-swatch__body flex">
            <div class="square"></div>
            <div class="square -stylized p-l"><div class="bg-grey04 w-100 h-100"></div></div>
          </div>
          <div class="uikit-swatch__footer">
            <span class="uikit-swatch__label">
                L size padding
            </span>
            <span class="uikit-swatch__code">
                &lt;div&gt;&lt;/div&gt;<br/>&lt;div class=&quot;p-l&quot;&gt;&lt;/div&gt;<br/>
            </span>
            <span class="uikit-swatch__legend">
                .p-l
            </span>
          </div>
        </div>
        <div class="uikit-swatch mt-m">
          <div class="uikit-swatch__body flex">
            <div class="square"></div>
            <div class="square -stylized p-xl"><div class="bg-grey04 w-100 h-100"></div></div>
          </div>
          <div class="uikit-swatch__footer">
            <span class="uikit-swatch__label">
                XL size padding
            </span>
            <span class="uikit-swatch__code">
                &lt;div&gt;&lt;/div&gt;<br/>&lt;div class=&quot;p-xl&quot;&gt;&lt;/div&gt;<br/>
            </span>
            <span class="uikit-swatch__legend">
                .p-xl
            </span>
          </div>
        </div>
        <div class="uikit-swatch mt-m">
          <div class="uikit-swatch__body flex">
            <div class="square"></div>
            <div class="square -stylized p-xxl"><div class="bg-grey04 w-100 h-100"></div></div>
          </div>
          <div class="uikit-swatch__footer">
            <span class="uikit-swatch__label">
                The biggest padding
            </span>
            <span class="uikit-swatch__code">
                &lt;div&gt;&lt;/div&gt;<br/>&lt;div class=&quot;p-xxl&quot;&gt;&lt;/div&gt;<br/>
            </span>
            <span class="uikit-swatch__legend">
                .p-xxl
            </span>
          </div>
        </div>
      </section>
      <section class="uikit-section -separator">
          <p class="uikit-subheading">
            We can control the padding on each side of an element individually using the padding property, or each side individually using the equivalent longhand properties.
            We'll use the 'S' size but every other size will work too.
          </p>
        <div class="uikit-swatch mt-m">
          <div class="uikit-swatch__body flex">
            <div class="square"></div>
            <div class="square -stylized pt-s"><div class="bg-grey04 w-100 h-100"></div></div>
          </div>
          <div class="uikit-swatch__footer">
              <span class="uikit-swatch__label">
                  padding top
              </span>
            <span class="uikit-swatch__code">
                &lt;div&gt;&lt;/div&gt;<br/>&lt;div class=&quot;pt-s&quot;&gt;&lt;/div&gt;<br/>
            </span>
            <span class="uikit-swatch__legend">
                .pt-s
            </span>
          </div>
        </div>
        <div class="uikit-swatch mt-m">
          <div class="uikit-swatch__body flex">
            <div class="square"></div>
            <div class="square -stylized pr-s"><div class="bg-grey04 w-100 h-100"></div></div>
          </div>
          <div class="uikit-swatch__footer">
              <span class="uikit-swatch__label">
                  padding right
              </span>
            <span class="uikit-swatch__code">
                &lt;div&gt;&lt;/div&gt;<br/>&lt;div class=&quot;pr-s&quot;&gt;&lt;/div&gt;<br/>
            </span>
            <span class="uikit-swatch__legend">
                .pr-s
            </span>
          </div>
        </div>
        <div class="uikit-swatch mt-m">
          <div class="uikit-swatch__body flex">
            <div class="square"></div>
            <div class="square -stylized pb-s"><div class="bg-grey04 w-100 h-100"></div></div>
          </div>
          <div class="uikit-swatch__footer">
              <span class="uikit-swatch__label">
                  padding bottom
              </span>
            <span class="uikit-swatch__code">
                &lt;div&gt;&lt;/div&gt;<br/>&lt;div class=&quot;pb-s&quot;&gt;&lt;/div&gt;<br/>
            </span>
            <span class="uikit-swatch__legend">
                .pb-s
            </span>
          </div>
        </div>
        <div class="uikit-swatch mt-m">
          <div class="uikit-swatch__body flex">
            <div class="square"></div>
            <div class="square -stylized pl-s"><div class="bg-grey04 w-100 h-100"></div></div>
          </div>
          <div class="uikit-swatch__footer">
              <span class="uikit-swatch__label">
                  padding left
              </span>
            <span class="uikit-swatch__code">
                &lt;div&gt;&lt;/div&gt;<br/>&lt;div class=&quot;pl-s&quot;&gt;&lt;/div&gt;<br/>
            </span>
            <span class="uikit-swatch__legend">
                .pl-s
            </span>
          </div>
        </div>
      </section>
    </div>
  </div>
