<div class="uikit-inner">
  <div class="app-express">
    <section class="uikit-section">
      <h1 class="uikit-h1">
        Forms
      </h1>
      <p class="uikit-subheading">
        Forms are one of the main points of interaction between a user and a web site or application.
        They allow users to send data to the web site. Most of the time that data is sent to the web server, but the web page can also intercept it to use it on its own.
      </p>
    </section>
    <section class="uikit-section -separator">
      <h2 class="uikit-h2">
        Text Fields styles
      </h2>
      <div class="uikit-swatch">
        <div class="uikit-swatch__body">
          <div class="textfield">
            <input type="text" class="textfield__field" placeholder="Textfield">
          </div>
        </div>
        <div class="uikit-swatch__footer">
          <span class="uikit-swatch__label">
            Textfield
          </span>
          <span class="uikit-swatch__code">
            <!-- encoder: http://www.htmlescape.net/htmlescape_tool.html -->
            &lt;div class=&quot;textfield&quot;&gt;<br/>&lt;input type=&quot;text&quot; class=&quot;textfield__field&quot; placeholder=&quot;Textfield&quot;&gt;<br/>&lt;/div&gt;<br/>
          </span>
          <span class="uikit-swatch__legend">
            .textfield>input.textfield__field
          </span>
        </div>
      </div>
      <div class="uikit-swatch mt-m">
        <div class="uikit-swatch__body">
          <div class="textfield -error">
            <input type="text" class="textfield__field" placeholder="Textfield -error">
          </div>
        </div>
        <div class="uikit-swatch__footer">
          <span class="uikit-swatch__label">
              Textfield with error
          </span>
          <span class="uikit-swatch__code">
              &lt;div class=&quot;textfield -error&quot;&gt;<br/>&lt;input type=&quot;text&quot; class=&quot;textfield__field&quot; placeholder=&quot;Textfield -error&quot;&gt;<br/>&lt;/div&gt;<br/>
          </span>
          <span class="uikit-swatch__legend">
              .textfield &.-error>input.textfield__field
          </span>
        </div>
      </div>
    </section>
    <section class="uikit-section -separator">
      <h2 class="uikit-h2">
        Checkboxes styles
      </h2>
      <div class="uikit-swatch">
        <div class="uikit-swatch__body">
            <label class="checkbox">
                <div class="checkbox__label">
                    <input class="checkbox__input" type="checkbox">
                    <span class="checkbox__check"></span>
                </div>
            </label>
        </div>
        <div class="uikit-swatch__footer">
          <span class="uikit-swatch__label">
              Checkbox
          </span>
          <span class="uikit-swatch__code">
            <!-- encoder: http://www.htmlescape.net/htmlescape_tool.html -->
            &lt;label class=&quot;checkbox&quot;&gt;<br/>&lt;div class=&quot;checkbox__label&quot;&gt;<br/>&lt;input class=&quot;checkbox__input&quot; type=&quot;checkbox&quot;&gt;<br/>&lt;span class=&quot;checkbox__check&quot;&gt;&lt;/span&gt;<br/>&lt;/div&gt;<br/>&lt;/label&gt;<br/>
          </span>
          <span class="uikit-swatch__legend">
            label.checkbox>.checkbox__label>input.checkbox__input
            <br>
            label.checkbox>.checkbox__label>input.checkbox__check
          </span>
        </div>
      </div>
    </section>
  </div>
</div>
