<div class="uikit-inner">
    <div class="app-express">
        <section class="uikit-section">
            <h1 class="uikit-h1">
                Forms
            </h1>
            <p class="uikit-subheading">
                Forms are one of the main points of interaction between a user and a web site or application.
                They allow users to send data to the web site. Most of the time that data is sent to the web server, but
                the web page can also intercept it to use it on its own.
            </p>
        </section>
        <section class="uikit-section -separator">
            <h2 class="uikit-h2">
                Textfield & textarea
            </h2>

            <!-- Textfield -->
            <div class="uikit-swatch">
                <div class="uikit-swatch__body">
                    <div class="flex flex-nowrap">
                        <div class="textfield mr-s">
                            <input type="text" class="textfield__field" placeholder="Placeholder" />
                        </div>
                        <div class="textfield ml-s">
                            <input type="text" class="textfield__field" value="Value" />
                        </div>
                    </div>
                </div>
                <div class="uikit-swatch__footer">
                    <span class="uikit-swatch__label">
                        Textfield
                    </span>
                    <textarea highlight-js [lang]="'html'">
<div class="textfield">
    <input type="text" class="textfield__field" placeholder="Placeholder">
</div>
                    </textarea>
                </div>
            </div>

            <!-- With icon -->
            <div class="uikit-swatch mt-m">
                <div class="uikit-swatch__body">
                    <div class="flex flex-nowrap">
                        <div class="textfield -pre mr-s">
                            <input type="text" class="textfield__field" placeholder="Placeholder" />
                            <span class="textfield__icon icon-search"></span>
                        </div>
                        <div class="textfield -post ml-s">
                            <input type="text" class="textfield__field" placeholder="Placeholder" />
                            <span class="textfield__icon icon-search"></span>
                        </div>
                    </div>
                </div>
                <div class="uikit-swatch__footer">
                    <span class="uikit-swatch__label">
                        Textfield with icon
                    </span>
                    <textarea highlight-js [lang]="'html'">
<div class="textfield -pre">
    <input type="text" class="textfield__field" placeholder="Placeholder">
    <span class="textfield__icon"></span>
</div>
                    </textarea>
                    <textarea highlight-js [lang]="'html'">
<div class="textfield -post">
    <input type="text" class="textfield__field" value="Value">
    <span class="textfield__icon"></span>
</div>
                    </textarea>
                </div>
            </div>

            <!-- Disabled -->
            <div class="uikit-swatch mt-m">
                <div class="uikit-swatch__body">
                    <div class="flex flex-nowrap">
                        <div class="textfield -disabled">
                            <input type="text" class="textfield__field" placeholder="Disabled" disabled>
                        </div>
                    </div>
                </div>
                <div class="uikit-swatch__footer">
                    <span class="uikit-swatch__label">
                        Textfield disabled
                    </span>
                    <textarea highlight-js [lang]="'html'">
<div class="textfield -disabled">
    <input type="text" disabled class="textfield__field" placeholder="Textfield -error">
</div>
                    </textarea>
                </div>
            </div>
            <div class="uikit-swatch mt-m">
                <div class="uikit-swatch__body">
                    <div class="flex flex-nowrap">
                        <div class="form w-100">
                            <div class="textfield -error">
                                <input type="text" value="Wrong value" class="textfield__field" placeholder="Error">
                            </div>
                            <div class="error mt-xxs p-s bg-accent01">Error description</div>
                        </div>
                    </div>
                </div>
                <div class="uikit-swatch__footer">
                    <span class="uikit-swatch__label">
                        Textfield with error
                    </span>
                    <textarea highlight-js [lang]="'html'">
<div class="textfield -error">
    <input type="text" class="textfield__field" placeholder="Textfield -error">
</div>
<p class="error mt-xxs p-s bg-accent01">Error description</p>

                    </textarea>
                </div>
            </div>

            <!-- Textarea -->
            <div class="uikit-swatch mt-m">
                <div class="uikit-swatch__body">
                    <div class="flex flex-nowrap">
                        <div class="textfield">
                            <textarea class="textfield__field" placeholder="Textarea field"></textarea>
                        </div>
                    </div>
                </div>
                <div class="uikit-swatch__footer">
                    <span class="uikit-swatch__label">
                        Textarea
                    </span>
                    <textarea highlight-js [lang]="'html'">
<div class="textfield">
    <textarea class="textfield__field" placeholder="Textarea field"><textarea>
</div>
                    </textarea>
                </div>
            </div>
        </section>

        <section class="uikit-section -separator">
            <h2 class="uikit-h2">
                Select
            </h2>

            <!-- Select -->
            <div class="uikit-swatch">
                <div class="uikit-swatch__body">
                    <ng-select class="dropdown select" name="pets" id="pet-select">
                        <ng-option value="">Choose an option</ng-option>
                        <ng-option value="dog">Dog</ng-option>
                        <ng-option value="cat">Cat</ng-option>
                        <ng-option value="hamster">Hamster</ng-option>
                        <ng-option value="parrot">Parrot</ng-option>
                        <ng-option value="spider">Spider</ng-option>
                        <ng-option value="goldfish">Goldfish</ng-option>
                    </ng-select>
                </div>
                <div class="uikit-swatch__footer">
                    <span class="uikit-swatch__label">
                        Dropdown
                    </span>
                    <textarea highlight-js [lang]="'html'">
<ng-select class="dropdown">
    <ng-option value="">Choose an option</ng-option>
    <ng-option value="lorem">Lorem</ng-option>
</ng-select>
                    </textarea>
                </div>
            </div>
        </section>

        <section class="uikit-section -separator">
            <h2 class="uikit-h2">
                Checkbox and radio
            </h2>

            <!-- Checkbox -->
            <div class="uikit-swatch">
                <div class="uikit-swatch__body">
                    <label class="checkbox">
                        <div class="checkbox__check">
                            <input class="checkbox__input" type="checkbox" id="checkEx">
                            <span class="checkbox__checker"></span>
                        </div>
                        <span class="checkbox__label" for="checkEx">
                            Label
                        </span>
                    </label>
                </div>
                <div class="uikit-swatch__footer">
                    <span class="uikit-swatch__label">
                        Checkbox
                    </span>
                    <textarea highlight-js [lang]="'html'">
<label class="checkbox" for="checkEx">
    <div class="checkbox__check">
        <input class="checkbox__input" type="checkbox" id="checkEx">
        <span class="checkbox__checker"></span>
    </div>
    <span class="checkbox__label">
        Label
    </span>
</label>
                    </textarea>
                </div>
            </div>

            <!-- Checkbox plus -->
            <div class="uikit-swatch mt-m">
              <div class="uikit-swatch__body">
                  <label class="checkbox -plus">
                      <div class="checkbox__check">
                          <input class="checkbox__input" type="checkbox" id="checkEx">
                          <span class="checkbox__checker"></span>
                      </div>
                      <span class="checkbox__label" for="checkEx">
                          Label
                      </span>
                  </label>
              </div>
              <div class="uikit-swatch__footer">
                  <span class="uikit-swatch__label">
                      Checkbox Plus
                  </span>
                  <textarea highlight-js [lang]="'html'">
<label class="checkbox -plus" for="checkEx">
  <div class="checkbox__check">
      <input class="checkbox__input" type="checkbox" id="checkEx">
      <span class="checkbox__checker"></span>
  </div>
  <span class="checkbox__label">
      Label
  </span>
</label>
                  </textarea>
              </div>
          </div>

          <!-- Checkbox minus -->
          <div class="uikit-swatch mt-m">
            <div class="uikit-swatch__body">
                <label class="checkbox -minus">
                    <div class="checkbox__check">
                        <input class="checkbox__input" type="checkbox" id="checkEx">
                        <span class="checkbox__checker"></span>
                    </div>
                    <span class="checkbox__label" for="checkEx">
                        Label
                    </span>
                </label>
            </div>
            <div class="uikit-swatch__footer">
                <span class="uikit-swatch__label">
                    Checkbox Minus
                </span>
                <textarea highlight-js [lang]="'html'">
<label class="checkbox -minus" for="checkEx">
<div class="checkbox__check">
    <input class="checkbox__input" type="checkbox" id="checkEx">
    <span class="checkbox__checker"></span>
</div>
<span class="checkbox__label">
    Label
</span>
</label>
                </textarea>
            </div>
        </div>

            <!-- Radio -->
            <div class="uikit-swatch mt-m">
                <div class="uikit-swatch__body">
                    <label class="radio" for="radioEx">
                        <input class="radio__input" type="radio" id="radioEx">
                        <span class="radio__checker"></span>
                        <span class="radio__label" >
                            Label
                        </span>
                    </label>
                </div>
                <div class="uikit-swatch__footer">
                    <span class="uikit-swatch__label">
                        Radio
                    </span>
                    <textarea highlight-js [lang]="'html'">
<label class="radio" for="radioEx">
    <input class="radio__input" type="radio" id="radioEx">
    <span class="radio__checker"></span>
    <span class="radio__label">
        Label
    </span>
</label>
                    </textarea>
                </div>
            </div>

            <!-- Checkbox disabled -->
            <div class="uikit-swatch mt-m">
              <div class="uikit-swatch__body">
                  <label class="checkbox -disabled">
                      <div class="checkbox__check">
                          <input class="checkbox__input" type="checkbox" id="checkEx">
                          <span class="checkbox__checker"></span>
                      </div>
                      <span class="checkbox__label" for="checkEx">
                          Label
                      </span>
                  </label>
              </div>
              <div class="uikit-swatch__footer">
                  <span class="uikit-swatch__label">
                      Disabled checkbox (works with radio too)
                  </span>
                  <textarea highlight-js [lang]="'html'">
<label class="checkbox -disabled" for="checkEx">
  <div class="checkbox__check">
      <input class="checkbox__input" type="checkbox" id="checkEx">
      <span class="checkbox__checker"></span>
  </div>
  <span class="checkbox__label">
      Label
  </span>
</label>
                  </textarea>
              </div>
          </div>
        </section>
        <section class="uikit-section -separator">
            <h2 class="uikit-h2">
                Toggle & switch
            </h2>

            <!-- Toggle -->
            <div class="uikit-swatch">
                <div class="uikit-swatch__body">
                    <div class="toggle -auto">
                        <div class="toggle__item">
                            <input id="yes" name="yes" type="radio">
                            <label class="toggle__item-label" for="yes"> Yes </label>
                        </div>
                        <div class="toggle__item -selected">
                            <input id="no" name="no" type="radio" >
                            <label class="toggle__item-label" for="no"> No </label>
                        </div>
                    </div>
                </div>
                <div class="uikit-swatch__footer">
                    <span class="uikit-swatch__label">
                        Toggle
                    </span>
                    <textarea highlight-js [lang]="'html'">
<div class="toggle -auto">
    <div class="toggle__item">
        <input id="yes" name="yes" type="radio">
        <label class="toggle__item-label" for="yes"> Yes </label>
    </div>
    <div class="toggle__item -selected">
        <input id="no" name="no" type="radio">
        <label class="toggle__item-label" for="no"> No </label>
    </div>
</div>
                    </textarea>
                </div>
            </div>

            <!-- Switch -->
            <div class="uikit-swatch mt-m">
                <div class="uikit-swatch__body">
                    <label class="switch">
                         <input class="switch__input" type="checkbox">
                        <span class="switch__check"></span>
                    </label>
                </div>
                <div class="uikit-swatch__footer">
                    <span class="uikit-swatch__label">
                        Switch
                    </span>
                    <textarea highlight-js [lang]="'html'">
<label class="switch">
    <input class="switch__input" type="checkbox">
    <span class="switch__check"></span>
</label>
                    </textarea>
                </div>
            </div>
        </section>
    </div>
</div>
