.input
{
    ////////////////////////////////////////////////////
    //
    //                  Variables
    //
    ////////////////////////////////////////////////////

    $root: '.input';


    ////////////////////////////////////////////////////
    //
    //                  Global style
    //
    ////////////////////////////////////////////////////

    // TODO: write global styles here.


    ////////////////////////////////////////////////////
    //
    //                  Variations
    //
    ////////////////////////////////////////////////////

    // TODO: write variations here.
  

    ////////////////////////////////////////////////////
    //
    //                  States
    //
    ////////////////////////////////////////////////////

    &:hover
    {
        // TODO: write hover effect styles here.
    }

    &:focus,
    &.active
    {
        // TODO: write focus/active effect styles here.
    }
}