<div  class="uikit">
  <div  class="uikit-page-home">
    <section  class="welcome">
      <h1  class="uikit-h1">
        Afelio
      </h1>
      <h2  class="uikit-h2">
        UI-Kit
      </h2>
      <p  class="uikit-subheading">
        This styleguide act as a central location to house the inventory of UI Components, developper guidelines and more.
      </p>
    </section>
    <section  class="uikit-system">
      <div  class="uikit-item">
        <div  class="uikit-item__icon">
          <svg  xmlns:xlink="http://www.w3.org/1999/xlink" height="44px" version="1.1"
            viewBox="0 0 44 44" width="44px" xmlns="http://www.w3.org/2000/svg">
            <g  fill="none" fill-rule="evenodd" id="Page-1" stroke="none" stroke-width="1">
              <g  id="Desktop-HD" transform="translate(-488.000000, -495.000000)">
                <g  id="Group-3" transform="translate(488.000000, 499.000000)">
                  <g  id="properties" transform="translate(4.000000, 0.000000)">
                    <circle  cx="17.8965517" cy="17.8965517" id="Oval" r="17.8965517" stroke="#525252"
                      stroke-width="6.71999949">

                    </circle>
                    <circle  cx="17.8965517" cy="17.8965517" fill="#FFDA00" fill-rule="nonzero"
                      id="Oval-2" r="9">

                    </circle>
                    <circle  cx="30" cy="4.96551724" fill="#FFDA00" fill-rule="nonzero" id="Oval-3"
                      r="3.31034483">

                    </circle>
                  </g>
                </g>
              </g>
            </g>
          </svg>
        </div>
        <h3 class="uikit-item__title">
          Properties
        </h3>
        <p class="uikit-item__description uikit-paragraph">
          The smallest entity, an indivisible unit. It encompass, but not limited to, colors,fonts, layout, grid,
          breakpoint, ...
        </p>
      </div>
      <div  class="uikit-item">
        <div  class="uikit-item__icon">
          <svg  xmlns:xlink="http://www.w3.org/1999/xlink" height="42px" version="1.1"
            viewBox="0 0 47 42" width="47px" xmlns="http://www.w3.org/2000/svg">
            <g  fill="none" fill-rule="evenodd" id="Page-1" stroke="none" stroke-width="1">
              <g  id="Desktop-HD" transform="translate(-733.000000, -496.000000)">
                <g  id="Group-4" transform="translate(733.000000, 499.000000)">
                  <g  id="components" transform="translate(3.000000, 0.000000)">
                    <g  id="Group-Copy" transform="translate(12.106299, 0.000000)">
                      <ellipse  cx="8.63582677" cy="8.59821429" id="Oval" rx="8.63582677"ry="8.59821429" stroke="#525252" stroke-width="5.1023622"></ellipse>
                      <ellipse  cx="8.5782546" cy="8.54089287" fill="#FFDA00" fill-rule="nonzero"id="Oval-2" rx="4.31791339" ry="4.29910714"></ellipse>
                    </g>
                    <ellipse  cx="8.63582677" cy="27.4017857" id="Oval" rx="8.63582677"ry="8.59821429" stroke="#525252" stroke-width="5.1023622"></ellipse>
                    <ellipse  cx="8.55511811" cy="27.2410714" fill="#FFDA00" fill-rule="nonzero"id="Oval-2" rx="4.35826772" ry="4.25892857"></ellipse>
                    <ellipse  cx="32.3641732" cy="27.4017857" id="Oval" rx="8.63582677"ry="8.59821429" stroke="#525252" stroke-width="5.1023622"></ellipse>
                    <ellipse  cx="32.2834646" cy="27.2410714" fill="#FFDA00" fill-rule="nonzero"id="Oval-2" rx="4.35826772" ry="4.25892857"></ellipse>
                    <ellipse  cx="15.3346457" cy="16.7142857" fill="#FFDA00" fill-rule="nonzero"id="Oval-3" rx="3.06692913" ry="3.05357143"></ellipse>
                    <ellipse  cx="13.7204724" cy="19.4464286" fill="#FFDA00" fill-rule="nonzero"id="Oval-3-Copy" rx="3.06692913" ry="3.05357143"></ellipse>
                    <ellipse  cx="17.1102362" cy="28.125" fill="#FFDA00" fill-rule="nonzero"id="Oval-3-Copy-2" rx="3.06692913" ry="3.05357143"></ellipse>
                    <ellipse  cx="22.7598425" cy="28.125" fill="#FFDA00" fill-rule="nonzero"id="Oval-3-Copy-3" rx="3.06692913" ry="3.05357143"></ellipse>
                    <ellipse  cx="29.7007874" cy="18.9642857" fill="#FFDA00" fill-rule="nonzero"id="Oval-3-Copy-4" rx="3.06692913" ry="3.05357143"></ellipse>
                    <ellipse  cx="26.7952756" cy="16.0714286" fill="#FFDA00" fill-rule="nonzero"id="Oval-3-Copy-5" rx="3.06692913" ry="3.05357143"></ellipse>
                  </g>
                </g>
              </g>
            </g>
          </svg>
        </div>
        <h3  class="uikit-item__title">
          Components
        </h3>
        <p  class="uikit-item__description uikit-paragraph">
          Association of multiple properties to form a small organism. E.g buttons, form elements, cards, ...
        </p>
      </div>
      <div  class="uikit-item">
        <div  class="uikit-item__icon">
          <svg  xmlns:xlink="http://www.w3.org/1999/xlink" height="42px" version="1.1"
            viewBox="0 0 62 42" width="62px" xmlns="http://www.w3.org/2000/svg">
            <g  fill="none" fill-rule="evenodd" id="Page-1" stroke="none" stroke-width="1">
              <g  id="Desktop-HD" transform="translate(-976.000000, -496.000000)">
                <g  id="Group-5" transform="translate(977.000000, 499.000000)">
                  <g  id="fragments" transform="translate(2.000000, 0.000000)">
                    <g  id="Group" transform="translate(0.327485, 0.163636)">
                      <ellipse  cx="7.51187704" cy="7.57650845" id="Oval" rx="7.51187704" ry="7.57650845" stroke="#525252" stroke-width="5.23636364"></ellipse>
                      <ellipse  cx="7.51187704" cy="7.57650845" fill="#FFDA00" fill-rule="nonzero" id="Oval-2" rx="3.7559385" ry="3.78825421"></ellipse>
                      <ellipse  cx="15.1020028" cy="7.6554304" fill="#FFDA00" fill-rule="nonzero" id="Oval-3" rx="2.58220773" ry="2.60442478"></ellipse>
                      <ellipse  cx="7.59012577" cy="15.2319389" fill="#FFDA00" fill-rule="nonzero" id="Oval-3-Copy-6" rx="2.58220773" ry="2.60442478"></ellipse>
                    </g>
                    <g  id="Group-Copy-4" transform="translate(17.847953, 0.163636)">
                      <ellipse  cx="10.1520468" cy="7.57650845" id="Oval" rx="7.49689609" ry="7.57650845" stroke="#525252" stroke-width="5.23636364"></ellipse>
                      <ellipse  cx="10.1520468" cy="7.57650845" fill="#FFDA00" fill-rule="nonzero" id="Oval-2" rx="3.74844803" ry="3.78825421"></ellipse>
                      <ellipse  cx="17.7270355" cy="7.6554304" fill="#FFDA00" fill-rule="nonzero" id="Oval-3" rx="2.57705803" ry="2.60442478"></ellipse>
                      <ellipse  cx="10.2301394" cy="15.2319389" fill="#FFDA00" fill-rule="nonzero" id="Oval-3-Copy-6" rx="2.57705803" ry="2.60442478"></ellipse>
                      <ellipse  cx="2.57705803" cy="7.81327433" fill="#FFDA00" fill-rule="nonzero" id="Oval-3-Copy-7" rx="2.57705803" ry="2.60442478"></ellipse>
                    </g>
                    <g  id="Group-Copy-5" transform="translate(38.152047, 0.163636)">
                      <ellipse  cx="10.0116959" cy="7.57650845" id="Oval" rx="7.50877192" ry="7.57650845" stroke="#525252" stroke-width="5.23636364"></ellipse>
                      <ellipse  cx="10.0116959" cy="7.57650845" fill="#FFDA00" fill-rule="nonzero" id="Oval-2" rx="3.75438596" ry="3.78825421"></ellipse>
                      <ellipse  cx="10.0899123" cy="15.2319389" fill="#FFDA00" fill-rule="nonzero" id="Oval-3-Copy-6" rx="2.58114035" ry="2.60442478"></ellipse>
                      <ellipse  cx="2.58114035" cy="7.6554304" fill="#FFDA00" fill-rule="nonzero" id="Oval-3-Copy-12" rx="2.58114035" ry="2.60442478"></ellipse>
                    </g>
                    <g  id="Group-Copy-6" transform="translate(37.988304, 18.000000)">
                      <ellipse  cx="10.1723335" cy="10.0051948" id="Oval" rx="7.51187704" ry="7.50389609" stroke="#525252" stroke-width="5.23636364"></ellipse>
                      <ellipse  cx="10.1723335" cy="10.0051948" fill="#FFDA00" fill-rule="nonzero" id="Oval-2" rx="3.7559385" ry="3.75194805"></ellipse>
                      <ellipse  cx="2.58220773" cy="10.0833604" fill="#FFDA00" fill-rule="nonzero" id="Oval-3-Copy-10" rx="2.58220773" ry="2.57946429"></ellipse>
                      <ellipse  cx="10.4070797" cy="2.57946429" fill="#FFDA00" fill-rule="nonzero" id="Oval-3-Copy-11" rx="2.58220773" ry="2.57946429"></ellipse>
                    </g>
                    <g  id="Group-Copy-7" transform="translate(17.847953, 18.000000)">
                      <ellipse  cx="9.99211206" cy="10.2598552" id="Oval" rx="7.49408404" ry="7.57650845" stroke="#525252" stroke-width="5.23636364"></ellipse>
                      <ellipse  cx="9.99211206" cy="10.2598552" fill="#FFDA00" fill-rule="nonzero" id="Oval-2" rx="3.74704204" ry="3.78825421"></ellipse>
                      <ellipse  cx="17.5642595" cy="10.3387772" fill="#FFDA00" fill-rule="nonzero" id="Oval-3" rx="2.57609139" ry="2.60442478"></ellipse>
                      <ellipse  cx="10.3824289" cy="2.60442478" fill="#FFDA00" fill-rule="nonzero" id="Oval-3-Copy-8" rx="2.57609139" ry="2.60442478"></ellipse>
                      <ellipse  cx="2.57609139" cy="10.4966211" fill="#FFDA00" fill-rule="nonzero" id="Oval-3-Copy-9" rx="2.57609139" ry="2.60442478"></ellipse>
                    </g>
                    <g  id="Group-Copy-8" transform="translate(0.000000, 17.836364)">
                      <ellipse  cx="7.51187704" cy="10.1618182" id="Oval" rx="7.51187704" ry="7.51090909" stroke="#525252" stroke-width="5.23636364"></ellipse>
                      <ellipse  cx="7.51187704" cy="10.1618182" fill="#FFDA00" fill-rule="nonzero" id="Oval-2" rx="3.7559385" ry="3.75545455"></ellipse>
                      <ellipse  cx="15.1020028" cy="10.2400568" fill="#FFDA00" fill-rule="nonzero" id="Oval-3" rx="2.58220773" ry="2.581875"></ellipse>
                      <ellipse  cx="7.85020425" cy="2.66603085" fill="#FFDA00" fill-rule="nonzero" id="Oval-3-Copy-13" rx="2.58220773" ry="2.581875"></ellipse>
                    </g>
                  </g>
                </g>
              </g>
            </g>
          </svg>
        </div>
        <h3  class="uikit-item__title">
          Fragments
        </h3>
        <p  class="uikit-item__description uikit-paragraph">
          Association of one or more components and properties. E.g. navigation, login form, footer, ...
        </p>
      </div>
      <div  class="uikit-item">
        <div  class="uikit-item__icon">
          <svg  xmlns:xlink="http://www.w3.org/1999/xlink" height="36px" version="1.1"
            viewBox="0 0 36 36" width="36px" xmlns="http://www.w3.org/2000/svg">
            <g  fill="none" fill-rule="evenodd" id="Page-1" stroke="none" stroke-width="1">
              <g  fill-rule="nonzero" id="Desktop-HD" transform="translate(-487.000000, -760.000000)">
                <g  id="Group-6" transform="translate(487.000000, 760.000000)">
                  <g  id="layouts">
                    <path
                      d="M36,2.57142857 C36,1.15126779 34.8487322,0 33.4285714,0 L2.57142857,0 C1.15126779,0 0,1.15126779 0,2.57142857 L0,10.2857143 L36,10.2857143 L36,2.57142857 Z" fill="#525252" id="Shape"></path>
                    <path
                      d="M2.57142857,36 L11.5714286,36 L11.5714286,15.4285714 L0,15.4285714 L0,33.4285714 C0,34.8487322 1.15126779,36 2.57142857,36 Z" fill="#525252" id="Shape"></path>
                    <path
                      d="M33.4285714,36 C34.8487322,36 36,34.8487322 36,33.4285714 L36,15.4285714 L16.7142857,15.4285714 L16.7142857,36 L33.4285714,36 Z" fill="#FFDA00" id="Shape"></path>
                  </g>
                </g>
              </g>
            </g>
          </svg>
        </div>
        <h3  class="uikit-item__title">
          Layouts
        </h3>
        <p  class="uikit-item__description uikit-paragraph">
          Define the overall structure for one or more pages.
        </p>
      </div>
      <div  class="uikit-item">
        <div  class="uikit-item__icon">
          <svg  xmlns:xlink="http://www.w3.org/1999/xlink" height="36px" version="1.1"
            viewBox="0 0 36 36" width="36px" xmlns="http://www.w3.org/2000/svg">
            <g  fill="none" fill-rule="evenodd" id="Page-1" stroke="none" stroke-width="1">
              <g  fill-rule="nonzero" id="Desktop-HD" transform="translate(-733.000000, -760.000000)">
                <g  id="Group-7" transform="translate(733.000000, 760.000000)">
                  <g  id="pages">
                    <path
                      d="M34.9875,2.775 L13.1625,0.1875 C12.675,0.1125 12.1875,0.4875 12.15,1.0125 L11.775,4.125 L23.1,4.125 C24.3375,4.125 25.3875,4.9125 25.8,6.0375 L30.8625,6.6375 L30.6375,8.5875 L25.9875,8.025 L25.9875,10.875 L30.3,11.4 L30.075,13.35 L25.9875,12.8625 L25.9875,15.7125 L29.7375,16.1625 L29.5125,18.1125 L25.9875,17.7 L25.9875,20.55 L29.175,20.925 L28.95,22.875 L25.9875,22.5375 L25.9875,25.3875 L28.6125,25.6875 L28.3875,27.6375 L25.9875,27.3375 L25.9875,31.65 L31.5,32.2875 C31.9875,32.3625 32.475,31.9875 32.5125,31.4625 L35.775,3.7875 C35.85,3.3 35.5125,2.85 34.9875,2.775 Z" fill="#525252" id="Shape"></path>
                    <path
                      d="M23.1,6.075 L1.125,6.075 C0.6,6.075 0.1875,6.4875 0.1875,7.0125 L0.1875,34.875 C0.1875,35.4 0.6,35.8125 1.125,35.8125 L23.1,35.8125 C23.625,35.8125 24.0375,35.4 24.0375,34.875 L24.0375,7.0125 C24.0375,6.4875 23.625,6.075 23.1,6.075 Z M19.4625,31.5 L4.7625,31.5 L4.7625,29.55 L19.4625,29.55 L19.4625,31.5 Z M19.4625,26.7 L4.7625,26.7 L4.7625,24.75 L19.4625,24.75 L19.4625,26.7 Z M19.4625,21.9375 L4.7625,21.9375 L4.7625,19.9875 L19.4625,19.9875 L19.4625,21.9375 Z M19.4625,17.1375 L4.7625,17.1375 L4.7625,15.1875 L19.4625,15.1875 L19.4625,17.1375 Z M19.4625,12.3375 L4.7625,12.3375 L4.7625,10.3875 L19.4625,10.3875 L19.4625,12.3375 Z" fill="#FFDA00" id="Shape"></path>
                  </g>
                </g>
              </g>
            </g>
          </svg>
        </div>
        <h3  class="uikit-item__title">
          Pages
        </h3>
        <p  class="uikit-item__description uikit-paragraph">
          Assembly of all the part describe above.</p>
      </div>
    </section>
  </div>
</div>
