////////////////////////////////////////////////////
//
//              Primary
//
////////////////////////////////////////////////////

$primary01: #F6F8FB;
$primary02: #E2E8F3;
$primary03: #4DA9D6;
$primary04: #0A90D0;
$primary05: #007CB4;
$primary06: #004171;
$primary07: #002F51;

$primary: ('primary01', $primary01),
          ('primary02', $primary02),
          ('primary03', $primary03),
          ('primary04', $primary04),
          ('primary05', $primary05),
          ('primary06', $primary06),
          ('primary07', $primary07);

////////////////////////////////////////////////////
//
//              Grey
//
////////////////////////////////////////////////////

$grey00: #fff;
$grey01: #EFEFEF;
$grey02: #BDC0C1;
$grey03: #B2B4B9;
$grey04: #909296;
$grey05: #69767C;
$grey06: #5E616E;
$grey07: #445055;
$grey08: #262929;

$grey:('grey00', $grey00),
      ('grey01', $grey01),
      ('grey02', $grey02),
      ('grey03', $grey03),
      ('grey04', $grey04),
      ('grey05', $grey05),
      ('grey06', $grey06),
      ('grey07', $grey07),
      ('grey08', $grey08);

////////////////////////////////////////////////////
//
//              Accent
//
////////////////////////////////////////////////////

$accent01: #D91E15;

$accent:  ('accent01', $accent01),
          ('accent02', $accent01);

////////////////////////////////////////////////////
//
//              Utility
//
////////////////////////////////////////////////////

$transparent: transparent;
$current: currentColor;

$palettes: join($primary, join($grey, $accent));

@include color-utility('transparent', $transparent);
@include color-utility('current', $current);
@each $name, $property in $palettes
{
  @include color-utility(#{$name}, $property);
}
