@use 'sass:math';

////////////////////////////////////////////////////
//
//              Typography
//
////////////////////////////////////////////////////

$font-family-sans-serif:
  // Safari for OS X and iOS (San Francisco)
  -apple-system,
  // Chrome >= 56 for OS X (San Francisco), Windows, Linux and Android
  system-ui,
  // Chrome < 56 for OS X (San Francisco)
  BlinkMacSystemFont,
  // Windows
  "Segoe UI",
  // Android
  "Roboto",
  // Basic web fallback
  "Helvetica Neue", Arial, sans-serif !default;

//
// Base font size for the body
// Every rem and em size are computed from this value
//
$font-size-base: 16px;

//
// Base line-height for the body
// Every rem and em size are computed from this value
//
$line-height-base: 1.3;

//
//  Font grid ratio
//  Theses ratio are used to compute the font sizes based on the font-base
//  @see https://www.dropbox.com/s/m3707qgpebnl91e/css-grid-ratio.xlsx?dl=0
//
$font-xxs: math.div(11px, $font-size-base);
$font-xs: math.div(12px, $font-size-base);
$font-s: math.div(14px, $font-size-base);
$font-m: math.div(16px, $font-size-base);
$font-l: math.div(18px, $font-size-base);
$font-xl: math.div(20px, $font-size-base);
$font-xxl: math.div(35px, $font-size-base);

$all-font-size:
    ('xxs', $font-xxs),
    ('xs', $font-xs),
    ('s', $font-s),
    ('m', $font-m),
    ('l', $font-l),
    ('xl', $font-xl),
    ('xxl', $font-xxl);

////////////////////////////////////////////////////
//
//              Grid
//
////////////////////////////////////////////////////

//om
// Base grid size
// Every padding margin are computed from this value
//

$grid-base:  16px;

//
// Container size
// The container will take this width in all the application.
// Default is 960px.
//
// Values can be :
// - in px to fix a specific width;
// - 100% to have a fluid container.
//

$container: 960px;

//
// Columns count
// Default columns number is 12.
//

$columns: 12;

//
// External gutters size
// Defines if gutters are visible outside the grid, if yes, specify a value in px.
// Default is false.
//
// Values can be :
// - false (equals 0px)
// - {n}px to have a costum size.
//

$external-gutters: false;

//
// Internal gutters size
// Defines the gutters size.
// Default is 20px.
//
// Values can be :
// - false (equals 0px)
// - {n}px to have a costum size.
//

$internal-gutters: 20px;

//
//  Grid ratio
//  Theses ratio are used to compute the grid sizes based on the grid-base
//  @see https://www.dropbox.com/s/m3707qgpebnl91e/css-grid-ratio.xlsx?dl=0
//

$grid-xxs: math.div(4px, $grid-base);
$grid-xs: math.div(8px, $grid-base);
$grid-s: math.div(12px, $grid-base);
$grid-m: math.div(16px, $grid-base);
$grid-l: math.div(24px, $grid-base);
$grid-xl: math.div(32px, $grid-base);
$grid-xxl: math.div(64px, $grid-base);
$grid-xxxl: math.div(96px, $grid-base);

$all-grid-size:
    ('xxs', $grid-xxs),
    ('xs', $grid-xs),
    ('s', $grid-s),
    ('m', $grid-m),
    ('l', $grid-l),
    ('xl', $grid-xl),
    ('xxl', $grid-xxl);
//
//  Responsive steps
//  Steps defined in the responsive utility
//

$responsive-xxs: 320px;
$responsive-xs:  375px;
$responsive-s:   425px;
$responsive-m:   768px;
$responsive-l:   1024px;
$responsive-xl:  1200px;
$responsive-xxl: 1440px;

////////////////////////////////////////////////////
//
//              3. Border
//
////////////////////////////////////////////////////

//
// Base border size
// Every border width and radius are computed from this value
//
$border-base: 2;

//
// Border radius multiplier
// A multiplier is applied on top of the ratio to compute the size of the radius
//
$border-radius-multiplier: 2;

//
// Shadow multiplier
// A multiplier is applied on top of the ratio to compute the size of the shadow
//
$box-shadow-multiplier: 2.45;

//
// Shadow color
// The shadow color that will be used
//
$box-shadow-color: transparentize($grey08, .8);

//
//  Border ratio
//  Theses ratio are used to compute the border sizes and radius based on the border-base
//  @see https://www.dropbox.com/s/m3707qgpebnl91e/css-grid-ratio.xlsx?dl=0
//
$border-none:  0;
$border-xxs:  .5;
$border-xs:   .75;
$border-s:    .875;
$border-m:    1;
$border-l:    2;
$border-xl:   3;
$border-xxl:  5;
$border-xxxl: 6;

$all-border-size:
    ('none', $border-none),
    ('xxs', $border-xxs),
    ('xs', $border-xs),
    ('s', $border-s),
    ('m', $border-m),
    ('l', $border-l),
    ('xl', $border-xl),
    ('xxl', $border-xxl);