<div class="uikit-inner">
  <div class="app-express">
    <section class="uikit-section">
      <h1 class="uikit-h1">
        Buttons
      </h1>
      <p class="uikit-subheading">
        Button is one of the most basic interaction feature available to
        the user. Easily create nice looking buttons, which come in different styles.
      </p>
    </section>
    <section class="uikit-section -separator">
      <h2 class="uikit-h2">
        Styles
      </h2>
      <div class="uikit-swatch">
        <div class="uikit-swatch__body">
          <button class="button -primary mr-m" type="button">
            <span class="button__label">
              Primary
            </span>
          </button>
        </div>
        <div class="uikit-swatch__footer">
          <span class="uikit-swatch__label">
            Primary
          </span>
          <span class="uikit-swatch__code">
            <!-- encoder: http://www.htmlescape.net/htmlescape_tool.html -->
            &lt;button type=&quot;button&quot; class=&quot;button -primary&quot;&gt;&lt;span
            class=&quot;button__label&quot;&gt;Primary&lt;/span&gt;&lt;/button&gt;
          </span>
          <span class="uikit-swatch__legend">
            .button -primary
          </span>
        </div>
      </div>
      <div class="uikit-swatch mt-m">
        <div class="uikit-swatch__body">
          <button class="button -secondary mr-m" type="button">
            <span class="button__label">
              Secondary
            </span>
          </button>
        </div>
        <div class="uikit-swatch__footer">
          <span class="uikit-swatch__label">
            Secondary
          </span>
          <span class="uikit-swatch__code">
            <!-- encoder: http://www.htmlescape.net/htmlescape_tool.html -->
            &lt;button type=&quot;button&quot; class=&quot;button -secondary&quot;&gt;&lt;span
            class=&quot;button__label&quot;&gt;Secondary&lt;/span&gt;&lt;/button&gt;
          </span>
          <span class="uikit-swatch__legend">
            .button -secondary
          </span>
        </div>
      </div>
    </section>
  </div>
</div>
