<div class="uikit-inner">
    <div class="app-express">
        <section class="uikit-section">
            <h1 class="uikit-h1">
                Icons
            </h1>
            <p class="uikit-subheading mt-m">Icons are in a font, you can change their size and color like text.</p>
        </section>
        <section class="uikit-section">
            <h2 class="uikit-h2">Usage</h2>
            <p class="uikit-subheading">
                To display an icon, use:<br>
                <span class="code">&lt;span class=&quot;icon <span
                        class="c-warning02">icon-class</span>&quot;&gt;&lt;/span&gt;</span><br>
                Replace <span class="code">icon-class</span> with the class name of your icon below.<br>
            </p>
            <p class="uikit-subheading pt-m"><span class="icon icon-warning-alt f-s"></span> For icons in form elements
                and buttons, see dedicated sections.</p>
        </section>
        <section class="uikit-section container-fluid">
            <h2 class="uikit-h2">List of icons</h2>
            <div class="row">
                <div class="col-6 col-md-3 pb-m">
                    <div class="uikit-swatch p-m h-100 text-center">
                        <span class="icon f-xl icon-admin"></span><br>
                        <span class="code f-xs">icon-admin</span>
                    </div>
                </div>
                <div class="col-6 col-md-3 pb-m">
                    <div class="uikit-swatch p-m h-100 text-center">
                        <span class="icon f-xl icon-arrow-bottom"></span><br>
                        <span class="code f-xs">icon-arrow-bottom</span>
                    </div>
                </div>
                <div class="col-6 col-md-3 pb-m">
                    <div class="uikit-swatch p-m h-100 text-center">
                        <span class="icon f-xl icon-arrow-left-alt"></span><br>
                        <span class="code f-xs">icon-arrow-left-alt</span>
                    </div>
                </div>
                <div class="col-6 col-md-3 pb-m">
                    <div class="uikit-swatch p-m h-100 text-center">
                        <span class="icon f-xl icon-arrow-left-long"></span><br>
                        <span class="code f-xs">icon-arrow-left-long</span>
                    </div>
                </div>
                <div class="col-6 col-md-3 pb-m">
                    <div class="uikit-swatch p-m h-100 text-center">
                        <span class="icon f-xl icon-arrow-left"></span><br>
                        <span class="code f-xs">icon-arrow-left</span>
                    </div>
                </div>
                <div class="col-6 col-md-3 pb-m">
                    <div class="uikit-swatch p-m h-100 text-center">
                        <span class="icon f-xl icon-arrow-right-alt"></span><br>
                        <span class="code f-xs">icon-arrow-right-alt</span>
                    </div>
                </div>
                <div class="col-6 col-md-3 pb-m">
                    <div class="uikit-swatch p-m h-100 text-center">
                        <span class="icon f-xl icon-arrow-right-long"></span><br>
                        <span class="code f-xs">icon-arrow-right-long</span>
                    </div>
                </div>
                <div class="col-6 col-md-3 pb-m">
                    <div class="uikit-swatch p-m h-100 text-center">
                        <span class="icon f-xl icon-arrow-right"></span><br>
                        <span class="code f-xs">icon-arrow-right</span>
                    </div>
                </div>
                <div class="col-6 col-md-3 pb-m">
                    <div class="uikit-swatch p-m h-100 text-center">
                        <span class="icon f-xl icon-arrow-top-alt"></span><br>
                        <span class="code f-xs">icon-arrow-top-alt</span>
                    </div>
                </div>
                <div class="col-6 col-md-3 pb-m">
                    <div class="uikit-swatch p-m h-100 text-center">
                        <span class="icon f-xl icon-arrow-top"></span><br>
                        <span class="code f-xs">icon-arrow-top</span>
                    </div>
                </div>
                <div class="col-6 col-md-3 pb-m">
                    <div class="uikit-swatch p-m h-100 text-center">
                        <span class="icon f-xl icon-attach"></span><br>
                        <span class="code f-xs">icon-attach</span>
                    </div>
                </div>
                <div class="col-6 col-md-3 pb-m">
                    <div class="uikit-swatch p-m h-100 text-center">
                        <span class="icon f-xl icon-bell-filled"></span><br>
                        <span class="code f-xs">icon-bell-filled</span>
                    </div>
                </div>
                <div class="col-6 col-md-3 pb-m">
                    <div class="uikit-swatch p-m h-100 text-center">
                        <span class="icon f-xl icon-bell"></span><br>
                        <span class="code f-xs">icon-bell</span>
                    </div>
                </div>
                <div class="col-6 col-md-3 pb-m">
                    <div class="uikit-swatch p-m h-100 text-center">
                        <span class="icon f-xl icon-bold"></span><br>
                        <span class="code f-xs">icon-bold</span>
                    </div>
                </div>
                <div class="col-6 col-md-3 pb-m">
                    <div class="uikit-swatch p-m h-100 text-center">
                        <span class="icon f-xl icon-calendar"></span><br>
                        <span class="code f-xs">icon-calendar</span>
                    </div>
                </div>
                <div class="col-6 col-md-3 pb-m">
                    <div class="uikit-swatch p-m h-100 text-center">
                        <span class="icon f-xl icon-checked"></span><br>
                        <span class="code f-xs">icon-checked</span>
                    </div>
                </div>
                <div class="col-6 col-md-3 pb-m">
                    <div class="uikit-swatch p-m h-100 text-center">
                        <span class="icon f-xl icon-clock"></span><br>
                        <span class="code f-xs">icon-clock</span>
                    </div>
                </div>
                <div class="col-6 col-md-3 pb-m">
                    <div class="uikit-swatch p-m h-100 text-center">
                        <span class="icon f-xl icon-cloture-tache"></span><br>
                        <span class="code f-xs">icon-cloture-tache</span>
                    </div>
                </div>
                <div class="col-6 col-md-3 pb-m">
                    <div class="uikit-swatch p-m h-100 text-center">
                        <span class="icon f-xl icon-confirmation"></span><br>
                        <span class="code f-xs">icon-confirmation</span>
                    </div>
                </div>
                <div class="col-6 col-md-3 pb-m">
                    <div class="uikit-swatch p-m h-100 text-center">
                        <span class="icon f-xl icon-conflict"></span><br>
                        <span class="code f-xs">icon-conflict</span>
                    </div>
                </div>
                <div class="col-6 col-md-3 pb-m">
                    <div class="uikit-swatch p-m h-100 text-center">
                        <span class="icon f-xl icon-arrow-bottom-alt"></span><br>
                        <span class="code f-xs">icon-arrow-bottom-alt</span>
                    </div>
                </div>
                <div class="col-6 col-md-3 pb-m">
                    <div class="uikit-swatch p-m h-100 text-center">
                        <span class="icon f-xl icon-copy"></span><br>
                        <span class="code f-xs">icon-copy</span>
                    </div>
                </div>
                <div class="col-6 col-md-3 pb-m">
                    <div class="uikit-swatch p-m h-100 text-center">
                        <span class="icon f-xl icon-cross"></span><br>
                        <span class="code f-xs">icon-cross</span>
                    </div>
                </div>
                <div class="col-6 col-md-3 pb-m">
                    <div class="uikit-swatch p-m h-100 text-center">
                        <span class="icon f-xl icon-document"></span><br>
                        <span class="code f-xs">icon-document</span>
                    </div>
                </div>
                <div class="col-6 col-md-3 pb-m">
                    <div class="uikit-swatch p-m h-100 text-center">
                        <span class="icon f-xl icon-double-arrow"></span><br>
                        <span class="code f-xs">icon-double-arrow</span>
                    </div>
                </div>
                <div class="col-6 col-md-3 pb-m">
                    <div class="uikit-swatch p-m h-100 text-center">
                        <span class="icon f-xl icon-download"></span><br>
                        <span class="code f-xs">icon-download</span>
                    </div>
                </div>
                <div class="col-6 col-md-3 pb-m">
                    <div class="uikit-swatch p-m h-100 text-center">
                        <span class="icon f-xl icon-enrolement"></span><br>
                        <span class="code f-xs">icon-enrolement</span>
                    </div>
                </div>
                <div class="col-6 col-md-3 pb-m">
                    <div class="uikit-swatch p-m h-100 text-center">
                        <span class="icon f-xl icon-error"></span><br>
                        <span class="code f-xs">icon-error</span>
                    </div>
                </div>
                <div class="col-6 col-md-3 pb-m">
                    <div class="uikit-swatch p-m h-100 text-center">
                        <span class="icon f-xl icon-esigna-alt-2"></span><br>
                        <span class="code f-xs">icon-esigna-alt-2</span>
                    </div>
                </div>
                <div class="col-6 col-md-3 pb-m">
                    <div class="uikit-swatch p-m h-100 text-center">
                        <span class="icon f-xl icon-agression"></span><br>
                        <span class="code f-xs">icon-agression</span>
                    </div>
                </div>
                <div class="col-6 col-md-3 pb-m">
                    <div class="uikit-swatch p-m h-100 text-center">
                        <span class="icon f-xl icon-esigna"></span><br>
                        <span class="code f-xs">icon-esigna</span>
                    </div>
                </div>
                <div class="col-6 col-md-3 pb-m">
                    <div class="uikit-swatch p-m h-100 text-center">
                        <span class="icon f-xl icon-contentieux"></span><br>
                        <span class="code f-xs">icon-contentieux</span>
                    </div>
                </div>
                <div class="col-6 col-md-3 pb-m">
                    <div class="uikit-swatch p-m h-100 text-center">
                        <span class="icon f-xl icon-annulation"></span><br>
                        <span class="code f-xs">icon-annulation</span>
                    </div>
                </div>
                <div class="col-6 col-md-3 pb-m">
                    <div class="uikit-swatch p-m h-100 text-center">
                        <span class="icon f-xl icon-eye"></span><br>
                        <span class="code f-xs">icon-eye</span>
                    </div>
                </div>
                <div class="col-6 col-md-3 pb-m">
                    <div class="uikit-swatch p-m h-100 text-center">
                        <span class="icon f-xl icon-gid"></span><br>
                        <span class="code f-xs">icon-gid</span>
                    </div>
                </div>
                <div class="col-6 col-md-3 pb-m">
                    <div class="uikit-swatch p-m h-100 text-center">
                        <span class="icon f-xl icon-help-alt"></span><br>
                        <span class="code f-xs">icon-help-alt</span>
                    </div>
                </div>
                <div class="col-6 col-md-3 pb-m">
                    <div class="uikit-swatch p-m h-100 text-center">
                        <span class="icon f-xl icon-help"></span><br>
                        <span class="code f-xs">icon-help</span>
                    </div>
                </div>
                <div class="col-6 col-md-3 pb-m">
                    <div class="uikit-swatch p-m h-100 text-center">
                        <span class="icon f-xl icon-info"></span><br>
                        <span class="code f-xs">icon-info</span>
                    </div>
                </div>
                <div class="col-6 col-md-3 pb-m">
                    <div class="uikit-swatch p-m h-100 text-center">
                        <span class="icon f-xl icon-initial"></span><br>
                        <span class="code f-xs">icon-initial</span>
                    </div>
                </div>
                <div class="col-6 col-md-3 pb-m">
                    <div class="uikit-swatch p-m h-100 text-center">
                        <span class="icon f-xl icon-italic"></span><br>
                        <span class="code f-xs">icon-italic</span>
                    </div>
                </div>
                <div class="col-6 col-md-3 pb-m">
                    <div class="uikit-swatch p-m h-100 text-center">
                        <span class="icon f-xl icon-left-indent"></span><br>
                        <span class="code f-xs">icon-left-indent</span>
                    </div>
                </div>
                <div class="col-6 col-md-3 pb-m">
                    <div class="uikit-swatch p-m h-100 text-center">
                        <span class="icon f-xl icon-line"></span><br>
                        <span class="code f-xs">icon-line</span>
                    </div>
                </div>
                <div class="col-6 col-md-3 pb-m">
                    <div class="uikit-swatch p-m h-100 text-center">
                        <span class="icon f-xl icon-minus"></span><br>
                        <span class="code f-xs">icon-minus</span>
                    </div>
                </div>
                <div class="col-6 col-md-3 pb-m">
                    <div class="uikit-swatch p-m h-100 text-center">
                        <span class="icon f-xl icon-modification-REC"></span><br>
                        <span class="code f-xs">icon-modification-REC</span>
                    </div>
                </div>
                <div class="col-6 col-md-3 pb-m">
                    <div class="uikit-swatch p-m h-100 text-center">
                        <span class="icon f-xl icon-modification"></span><br>
                        <span class="code f-xs">icon-modification</span>
                    </div>
                </div>
                <div class="col-6 col-md-3 pb-m">
                    <div class="uikit-swatch p-m h-100 text-center">
                        <span class="icon f-xl icon-ol"></span><br>
                        <span class="code f-xs">icon-ol</span>
                    </div>
                </div>
                <div class="col-6 col-md-3 pb-m">
                    <div class="uikit-swatch p-m h-100 text-center">
                        <span class="icon f-xl icon-opposite-arrows"></span><br>
                        <span class="code f-xs">icon-opposite-arrows</span>
                    </div>
                </div>
                <div class="col-6 col-md-3 pb-m">
                    <div class="uikit-swatch p-m h-100 text-center">
                        <span class="icon f-xl icon-pending"></span><br>
                        <span class="code f-xs">icon-pending</span>
                    </div>
                </div>
                <div class="col-6 col-md-3 pb-m">
                    <div class="uikit-swatch p-m h-100 text-center">
                        <span class="icon f-xl icon-perefisc"></span><br>
                        <span class="code f-xs">icon-perefisc</span>
                    </div>
                </div>
                <div class="col-6 col-md-3 pb-m">
                    <div class="uikit-swatch p-m h-100 text-center">
                        <span class="icon f-xl icon-plus-alt"></span><br>
                        <span class="code f-xs">icon-plus-alt</span>
                    </div>
                </div>
                <div class="col-6 col-md-3 pb-m">
                    <div class="uikit-swatch p-m h-100 text-center">
                        <span class="icon f-xl icon-plus"></span><br>
                        <span class="code f-xs">icon-plus</span>
                    </div>
                </div>
                <div class="col-6 col-md-3 pb-m">
                    <div class="uikit-swatch p-m h-100 text-center">
                        <span class="icon f-xl icon-point-menu-contextuel"></span><br>
                        <span class="code f-xs">icon-point-menu-contextuel</span>
                    </div>
                </div>
                <div class="col-6 col-md-3 pb-m">
                    <div class="uikit-swatch p-m h-100 text-center">
                        <span class="icon f-xl icon-rejected"></span><br>
                        <span class="code f-xs">icon-rejected</span>
                    </div>
                </div>
                <div class="col-6 col-md-3 pb-m">
                    <div class="uikit-swatch p-m h-100 text-center">
                        <span class="icon f-xl icon-right-indent"></span><br>
                        <span class="code f-xs">icon-right-indent</span>
                    </div>
                </div>
                <div class="col-6 col-md-3 pb-m">
                    <div class="uikit-swatch p-m h-100 text-center">
                        <span class="icon f-xl icon-search"></span><br>
                        <span class="code f-xs">icon-search</span>
                    </div>
                </div>
                <div class="col-6 col-md-3 pb-m">
                    <div class="uikit-swatch p-m h-100 text-center">
                        <span class="icon f-xl icon-tab-close"></span><br>
                        <span class="code f-xs">icon-tab-close</span>
                    </div>
                </div>
                <div class="col-6 col-md-3 pb-m">
                    <div class="uikit-swatch p-m h-100 text-center">
                        <span class="icon f-xl icon-tab"></span><br>
                        <span class="code f-xs">icon-tab</span>
                    </div>
                </div>
                <div class="col-6 col-md-3 pb-m">
                    <div class="uikit-swatch p-m h-100 text-center">
                        <span class="icon f-xl icon-task-late"></span><br>
                        <span class="code f-xs">icon-task-late</span>
                    </div>
                </div>
                <div class="col-6 col-md-3 pb-m">
                    <div class="uikit-swatch p-m h-100 text-center">
                        <span class="icon f-xl icon-task-ok"></span><br>
                        <span class="code f-xs">icon-task-ok</span>
                    </div>
                </div>
                <div class="col-6 col-md-3 pb-m">
                    <div class="uikit-swatch p-m h-100 text-center">
                        <span class="icon f-xl icon-task"></span><br>
                        <span class="code f-xs">icon-task</span>
                    </div>
                </div>
                <div class="col-6 col-md-3 pb-m">
                    <div class="uikit-swatch p-m h-100 text-center">
                        <span class="icon f-xl icon-tick"></span><br>
                        <span class="code f-xs">icon-tick</span>
                    </div>
                </div>
                <div class="col-6 col-md-3 pb-m">
                    <div class="uikit-swatch p-m h-100 text-center">
                        <span class="icon f-xl icon-trash"></span><br>
                        <span class="code f-xs">icon-trash</span>
                    </div>
                </div>
                <div class="col-6 col-md-3 pb-m">
                    <div class="uikit-swatch p-m h-100 text-center">
                        <span class="icon f-xl icon-ul"></span><br>
                        <span class="code f-xs">icon-ul</span>
                    </div>
                </div>
                <div class="col-6 col-md-3 pb-m">
                    <div class="uikit-swatch p-m h-100 text-center">
                        <span class="icon f-xl icon-underlined"></span><br>
                        <span class="code f-xs">icon-underlined</span>
                    </div>
                </div>
                <div class="col-6 col-md-3 pb-m">
                    <div class="uikit-swatch p-m h-100 text-center">
                        <span class="icon f-xl icon-upload"></span><br>
                        <span class="code f-xs">icon-upload</span>
                    </div>
                </div>
                <div class="col-6 col-md-3 pb-m">
                    <div class="uikit-swatch p-m h-100 text-center">
                        <span class="icon f-xl icon-warning-alt"></span><br>
                        <span class="code f-xs">icon-warning-alt</span>
                    </div>
                </div>
                <div class="col-6 col-md-3 pb-m">
                    <div class="uikit-swatch p-m h-100 text-center">
                        <span class="icon f-xl icon-warning"></span><br>
                        <span class="code f-xs">icon-warning</span>
                    </div>
                </div>
                <div class="col-6 col-md-3 pb-m">
                    <div class="uikit-swatch p-m h-100 text-center">
                        <span class="icon f-xl icon-eur"></span><br>
                        <span class="code f-xs">icon-eur</span>
                    </div>
                </div>
                <div class="col-6 col-md-3 pb-m">
                    <div class="uikit-swatch p-m h-100 text-center">
                        <span class="icon f-xl icon-etablissement"></span><br>
                        <span class="code f-xs">icon-etablissement</span>
                    </div>
                </div>
                <div class="col-6 col-md-3 pb-m">
                    <div class="uikit-swatch p-m h-100 text-center">
                        <span class="icon f-xl icon-esigna-alt"></span><br>
                        <span class="code f-xs">icon-esigna-alt</span>
                    </div>
                </div>
                <div class="col-6 col-md-3 pb-m">
                    <div class="uikit-swatch p-m h-100 text-center">
                        <span class="icon f-xl icon-tab-management"></span><br>
                        <span class="code f-xs">icon-tab-management</span>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
