{
  "$schema": "node_modules/ng-openapi-gen/ng-openapi-gen-schema.json",
  "input": "${apiFile}",
  "output": "./apis/api/src/api",
  "ignoreUnusedModels": false,
  "module": "${moduleName}",
  "configuration": "${configName}",
  "APIKey": "${apiKey}",
  "proxy": "${proxy}",
  "modelSuffix": "Dto",
  "serviceSuffix": "ServiceGen"
}