.link
{
    ////////////////////////////////////////////////////
    //
    //                  Variables
    //
    ////////////////////////////////////////////////////

    $root: '.link';


    ////////////////////////////////////////////////////
    //
    //                  Global style
    //
    ////////////////////////////////////////////////////

    appearance: none;
    @extend %no-decoration;
    @extend %text-center;
    width: auto;
    width: fit-content;
    @extend %bg-transparent;

    // position
    @extend %relative;

    // padding
    @extend %px-none;
    @extend %py-none;

    // borders
    @extend %bw-none;
    border-radius: 2px;

    // cursor
    @extend %c-pointer;

    // typography
    @extend %f-regular;
    @extend %f-s;

    // flex
    @extend %flex;
    @extend %flex-middle;


    &.-inline
    {
        @extend %inline;
    }

    #{$root}__label
    {
        @extend %relative;
        @extend %f-regular;
        @extend %f-s;
    }

    #{$root}__icon
    {
        @extend %absolute;
        top: 50%;
        transform: translateY(-12px);

        @extend .icon;
        @extend %f-m;
        @extend %pt-xxs;

        &.icon-arrow-top,
        &.icon-arrow-bottom
        {
            @extend %f-s;
        }
    }


    ////////////////////////////////////////////////////
    //
    //                  Variations
    //
    ////////////////////////////////////////////////////

    &.-primary
    {
        @extend %c-primary03;
    }

    &.-secondary
    {
        @extend %c-grey06;
        @extend %f-medium;

        #{$root}__icon
        {
            @extend %c-primary03;
        }
    }

    &.-bold
    {
        #{$root}__label
        {
            @extend %f-medium;
        }
    }

    // Icon is before the label
    &.-pre
    {
        padding-left: 20px;

        #{$root}__icon
        {
            left: 0;
        }
    }

    // Icon is after the label
    &.-post
    {
        padding-right: 20px;

        #{$root}__icon
        {
            right: 0;
        }
    }

    &.-l
    {
        #{$root}__label
        {
            @extend %f-l;
        }
    }

    &.-nowrap
    {
        white-space: nowrap;
    }


    &.-disabled {
        cursor: default;
        pointer-events: none;

        opacity: .3;
    }
}
