table.table {
    @extend %bg-grey00;
    @extend %w-100;
    @extend %f-medium;
    @extend %c-grey08;
    @extend %f-s;
    z-index: 1;

    border-spacing: 0;
    border-collapse: collapse;

    /*
     *  Colored table
     */
    &.-color {
        $border: 1px solid $grey03;
        border: $border;

        thead {
            @extend %bg-grey01;
        }

        tbody tr {
            border-top: $border;
        }

        td {
            border: none;
        }
    }
}
