@charset 'utf-8';
////////////////////////////////////////////////////
//
//              1. Typefaces
//
////////////////////////////////////////////////////

// Icons fonts
$f-icons: 'icons';
@include typeface('icons', 'icons', 'icons', 'icon', 400);

// Texts fonts
 @import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

 @include typeface(null, 'Roboto', 'Roboto', 'regular', 400);
 @include typeface(null, 'Roboto', 'Roboto', 'medium', 500);
 @include typeface(null, 'Roboto', 'Roboto', 'bold', 700);


////////////////////////////////////////////////////
//
//              2. Sizes
//
////////////////////////////////////////////////////
@include font-utility('xxs',  $font-xxs);
@include font-utility('xs',   $font-xs);
@include font-utility('s',    $font-s);
@include font-utility('m',    $font-m);
@include font-utility('l',    $font-l);
@include font-utility('xl',   $font-xl);
@include font-utility('xxl',  $font-xxl);
////////////////////////////////////////////////////
//
//              3. Alignement
//
////////////////////////////////////////////////////
.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }
.text-justify { text-align: justify; }
////////////////////////////////////////////////////
//
//              4. Case
//
////////////////////////////////////////////////////
.capitalize{ text-transform: capitalize; }
.uppercase{ text-transform: uppercase; }
.lowercase{ text-transform: lowercase; }
////////////////////////////////////////////////////
//
//              5. Styles
//
////////////////////////////////////////////////////
.italic{ font-style: italic; }
.oblique{ font-style: oblique; }
////////////////////////////////////////////////////
//
//              5. Wrap
//
////////////////////////////////////////////////////
.break-all{ word-break: break-all; }
.break-word{ word-wrap: break-word; }
////////////////////////////////////////////////////
//
//              5. Decoration
//
////////////////////////////////////////////////////
.no-decoration{ text-decoration: none; }
.underline{ text-decoration: underline; }
.overline{ text-decoration: overline; }
.strikethrough{ text-decoration: line-through; }
////////////////////////////////////////////////////
//
//              6. Icons
//
////////////////////////////////////////////////////
[class^="icon-"],
[class*=" icon-"],
.icon {
  // use !important to prevent issues with browser extensions that change fonts
  font-family: $f-icons !important;
  speak: none;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  // Better Font Rendering
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import 'icons';
