<div class="uikit-inner">
    <div class="app-express">
        <section class="uikit-section">
            <h1 class="uikit-h1">
                Colors
            </h1>
            <p class="uikit-subheading">
                Color are one of most important thing in an application, it give life to the app and guide the user.
            </p>
        </section>
        <section class="uikit-section">
            <h2 class="uikit-h2">
                Usage
            </h2>
            <p class="uikit-subheading">
                You can prefix the color name (without the dollar sign) by
                <br/><span class="code">c-</span> : text color (eq. color:)
                <br/><span class="code">bg-</span> : background color (eq. background-color:)
                <br/><span class="code">bc-</span> : border-color (eq. border-color:)
            </p>
        </section>

        <section class="uikit-section">
            <h2 class="uikit-h2">
                List of colors
            </h2>

            <h3 class="uikit-h3">
              Primary colors
            </h3>
            <div class="uikit-swatch">
                <div class="uikit-swatch__body">
                    <div class="text-center p-m w-100 mb-s bg-primary01">
                        <span class="c-grey08 ">
                            $primary01 <span class="code">#F6F8FB</span>
                        </span>
                    </div>
                    <div class="text-center p-m w-100 mb-s bg-primary02">
                        <span class="c-grey08 ">
                            $primary02 <span class="code">#E2E8F3</span>
                        </span>
                    </div>
                    <div class="text-center p-m w-100 mb-s bg-primary03">
                        <span class="c-grey00 ">
                            $primary03 <span class="code">#4DA9D6</span>
                        </span>
                    </div>
                    <div class="text-center p-m w-100 mb-s bg-primary04">
                        <span class="c-grey00 ">
                            $primary04 <span class="code">#0A90D0</span>
                        </span>
                    </div>
                    <div class="text-center p-m w-100 mb-s bg-primary05">
                        <span class="c-grey00 ">
                            $primary05 <span class="code">#007CB4</span>
                        </span>
                    </div>
                    <div class="text-center p-m w-100 mb-s bg-primary06">
                        <span class="c-grey00 ">
                            $primary06 <span class="code">#004171</span>
                        </span>
                    </div>
                    <div class="text-center p-m w-100 bg-primary06">
                      <span class="c-grey00 ">
                          $primary07 <span class="code">#002F51</span>
                      </span>
                  </div>
                </div>
            </div>
        </section>
        <section class="uikit-section">
            <h3 class="uikit-h3">
                Accent styles
            </h3>
            <div class="uikit-swatch">
                <div class="uikit-swatch__body">
                    <div class="text-center p-m w-100 mb-s bg-accent01">
                        <span class="c-grey00">
                            $accent01 <span class="code">#D91E15</span>
                        </span>
                    </div>
                </div>
            </div>
        </section>
        <section class="uikit-section">
            <h3 class="uikit-h3">
              Grey styles
            </h3>
            <div class="uikit-swatch">
                <div class="uikit-swatch__body">
                    <div class="flex flex-wrap">
                        <div class="text-center p-m w-100 mb-s bg-grey00">
                            <span class="c-grey08 ">
                                $grey00 (white) <span class="code">#FFFFFF</span>
                            </span>
                        </div>
                        <div class="text-center p-m w-100 mb-s bg-grey01">
                            <span class="c-grey08 ">
                                $grey01 <span class="code">#EFEFEF</span>
                            </span>
                        </div>
                        <div class="text-center p-m w-100 mb-s bg-grey02">
                            <span class="c-grey00 ">
                                $grey02 <span class="code">#BDC0C1</span>
                            </span>
                        </div>
                        <div class="text-center p-m w-100 mb-s bg-grey03">
                            <span class="c-grey00 ">
                                $grey03 <span class="code">#B2B4B9</span>
                            </span>
                        </div>
                        <div class="text-center p-m w-100 mb-s bg-grey04">
                            <span class="c-grey00 ">
                                $grey04 <span class="code">#909296</span>
                            </span>
                        </div>
                        <div class="text-center p-m w-100 mb-s bg-grey05">
                            <span class="c-grey00 ">
                                $grey05 <span class="code">#69767C</span>
                            </span>
                        </div>
                        <div class="text-center p-m w-100 mb-s bg-grey06">
                            <span class="c-grey00 ">
                                $grey06 <span class="code">#5E616E</span>
                            </span>
                        </div>
                        <div class="text-center p-m w-100 mb-s bg-grey07">
                            <span class="c-grey00 ">
                                $grey07 <span class="code">#445055</span>
                            </span>
                        </div>
                        <div class="text-center p-m w-100 mb-s bg-grey08">
                            <span class="c-grey00 ">
                                $grey08 <span class="code">#262929</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
</div>
