<div class="uikit-inner">
    <div class="app-express">
        <section class="uikit-section">
            <h1 class="uikit-h1">
                Margin
            </h1>
            <p class="uikit-subheading">
                The margin is an invisible space around your HTML box. It pushes other elements away from the box.
                <br>
                Margins can have positive or negative values.
                <br>
                Setting a negative margin on one side of your box can cause it to overlap other things on the page.
                <br>
                Whether you are using the standard or alternative box model, the margin is always added on after the
                size of the visible box has been calculated.
                <br>
                For the examples below, let's assume that our HTML boxes without style are white square and the ones
                stylized are grey.
            </p>

            <h2 class="mt-l">Margin & padding values</h2>
            <table class="uikit-table mt-m">
                <thead>
                    <th>Name</th>
                    <th>Value</th>
                </thead>
                <tbody>
                    <tr>
                        <td>none</td>
                        <td>0px</td>
                    </tr>
                    <tr>
                        <td>xxs</td>
                        <td>4px</td>
                    </tr>
                    <tr>
                        <td>xs</td>
                        <td>8px</td>
                    </tr>
                    <tr>
                        <td>s</td>
                        <td>12px</td>
                    </tr>
                    <tr>
                        <td>m</td>
                        <td>16px</td>
                    </tr>
                    <tr>
                        <td>l</td>
                        <td>24px</td>
                    </tr>
                    <tr>
                        <td>xl</td>
                        <td>32px</td>
                    </tr>
                    <tr>
                        <td>xxl</td>
                        <td>64px</td>
                    </tr>
                </tbody>
            </table>

        </section>
        <section class="uikit-section -separator">
            <h2 class="uikit-h2">
                Basic usage
            </h2>

            <!-- No margin -->
            <div class="uikit-swatch">
                <div class="uikit-swatch__body flex">
                    <div class="square"></div>
                    <div class="square -stylized m-none"></div>
                </div>
                <div class="uikit-swatch__footer">
                    <span class="uikit-swatch__label">
                        No-margin
                    </span>
                    <textarea highlight-js [lang]="'html'">
                        <div class="m-none"></div>
                    </textarea>
                    <span class="uikit-swatch__legend">
                        .m-none
                    </span>
                </div>
            </div>

            <!-- Margin -->
            <div class="uikit-swatch mt-m">
                <div class="uikit-swatch__body flex">
                    <div class="square"></div>
                    <div class="square -stylized m-xs"></div>
                </div>
                <div class="uikit-swatch__footer">
                    <span class="uikit-swatch__label">
                        Margin applied on top, right, bottom, left
                    </span>
                    <textarea highlight-js [lang]="'html'">
                        <div class="m-xs"></div>
                    </textarea>
                    <span class="uikit-swatch__legend">
                        .m-#value#
                    </span>
                </div>
            </div>
        </section>


        <section class="uikit-section">
            <p class="uikit-subheading">
                We can control the margin on each side of an element individually using the padding property, or each
                side individually using the equivalent longhand properties.
                We'll use the 'S' size but every other size will work too.
            </p>

            <!-- MT -->
            <div class="uikit-swatch mt-m">
                <div class="uikit-swatch__body flex">
                    <div class="square"></div>
                    <div class="square -stylized mt-s"></div>
                </div>
                <div class="uikit-swatch__footer">
                    <span class="uikit-swatch__label">
                        Margin top
                    </span>
                    <textarea highlight-js [lang]="'html'">
                        <div class="mt-s"></div>
                    </textarea>
                    <span class="uikit-swatch__legend">
                        .mt-#value#
                    </span>
                </div>
            </div>

            <!-- MR -->
            <div class="uikit-swatch mt-m">
                <div class="uikit-swatch__body flex">
                    <div class="square -stylized mr-s"></div>
                    <div class="square"></div>
                </div>
                <div class="uikit-swatch__footer">
                    <span class="uikit-swatch__label">
                        Margin right
                    </span>
                    <textarea highlight-js [lang]="'html'">
                        <div class="mr-s"></div>
                    </textarea>
                    <span class="uikit-swatch__legend">
                        .mr-#value#
                    </span>
                </div>
            </div>

            <!-- MB -->
            <div class="uikit-swatch mt-m">
                <div class="uikit-swatch__body">
                    <div class="square -stylized mb-s"></div>
                    <div class="square"></div>
                </div>
                <div class="uikit-swatch__footer">
                    <span class="uikit-swatch__label">
                        Margin bottom
                    </span>
                    <textarea highlight-js [lang]="'html'">
                        <div class="mb-s"></div>
                    </textarea>
                    <span class="uikit-swatch__legend">
                        .mb-#value#
                    </span>
                </div>
            </div>

            <!-- ML -->
            <div class="uikit-swatch mt-m">
                <div class="uikit-swatch__body flex">
                    <div class="square"></div>
                    <div class="square -stylized ml-s"></div>
                </div>
                <div class="uikit-swatch__footer">
                    <span class="uikit-swatch__label">
                        Margin left
                    </span>
                    <textarea highlight-js [lang]="'html'">
                        <div class="ml-s"></div>
                    </textarea>
                    <span class="uikit-swatch__legend">
                        .ml-#value#
                    </span>
                </div>
            </div>

            <!-- MX -->
            <div class="uikit-swatch mt-m">
                <div class="uikit-swatch__body flex">
                    <div class="square"></div>
                    <div class="square -stylized mx-s"></div>
                    <div class="square"></div>
                </div>
                <div class="uikit-swatch__footer">
                    <span class="uikit-swatch__label">
                        Margin left & right combined
                    </span>
                    <textarea highlight-js [lang]="'html'">
                        <div class="mx-s"></div>
                    </textarea>
                    <span class="uikit-swatch__legend">
                        .mx-#value#
                    </span>
                </div>
            </div>

            <!-- MY -->
            <div class="uikit-swatch mt-m">
                <div class="uikit-swatch__body">
                    <div class="square"></div>
                    <div class="square -stylized my-s"></div>
                    <div class="square"></div>
                </div>
                <div class="uikit-swatch__footer">
                    <span class="uikit-swatch__label">
                        Margin top & bottom combined
                    </span>
                    <textarea highlight-js [lang]="'html'">
                        <div class="my-s"></div>
                    </textarea>
                    <span class="uikit-swatch__legend">
                        .my-#value#
                    </span>
                </div>
            </div>
        </section>
    </div>
</div>
