<div class="uikit-inner">
    <div class="app-express">
      <section class="uikit-section">
        <h1 class="uikit-h1">
          Margin
        </h1>
        <p class="uikit-subheading">
          The margin is an invisible space around your HTML box.
          It pushes other elements away from the box.
          Margins can have positive or negative values.
          Setting a negative margin on one side of your box can cause it to overlap other things on the page.
          Whether you are using the standard or alternative box model, the margin is always added on after the size of the visible box has been calculated.
        </p>
        <p class="uikit-subheading">
            For the examples below, let's assume that our HTML boxes without style are white square and the ones stylized are grey.
        </p>
      </section>
      <section class="uikit-section -separator">
        <h2 class="uikit-h2">
          Margin
        </h2>
        <div class="uikit-swatch">
          <div class="uikit-swatch__body flex">
            <div class="square"></div>
          <div class="square -stylized m-none"></div>
          </div>
          <div class="uikit-swatch__footer">
            <span class="uikit-swatch__label">
              No-margin
            </span>
            <span class="uikit-swatch__code">
                &lt;div&gt;&lt;/div&gt;<br/>&lt;div class=&quot;m-none&quot;&gt;&lt;/div&gt;<br/>
            </span>
            <span class="uikit-swatch__legend">
              .m-none
            </span>
          </div>
        </div>
        <div class="uikit-swatch mt-m">
          <div class="uikit-swatch__body flex">
            <div class="square"></div>
            <div class="square -stylized m-xxs"></div>
          </div>
          <div class="uikit-swatch__footer">
            <span class="uikit-swatch__label">
                Smallest margin
            </span>
            <span class="uikit-swatch__code">
                &lt;div&gt;&lt;/div&gt;<br/>&lt;div class=&quot;m-xxs&quot;&gt;&lt;/div&gt;<br/>
            </span>
            <span class="uikit-swatch__legend">
                .m-xxs
            </span>
          </div>
        </div>
        <div class="uikit-swatch mt-m">
          <div class="uikit-swatch__body flex">
            <div class="square"></div>
            <div class="square -stylized m-xs"></div>
          </div>
          <div class="uikit-swatch__footer">
            <span class="uikit-swatch__label">
                XS size margin
            </span>
            <span class="uikit-swatch__code">
                &lt;div&gt;&lt;/div&gt;<br/>&lt;div class=&quot;m-xs&quot;&gt;&lt;/div&gt;<br/>
            </span>
            <span class="uikit-swatch__legend">
                .m-xs
            </span>
          </div>
        </div>
        <div class="uikit-swatch mt-m">
          <div class="uikit-swatch__body flex">
            <div class="square"></div>
            <div class="square -stylized m-s"></div>
          </div>
          <div class="uikit-swatch__footer">
            <span class="uikit-swatch__label">
                S size margin
            </span>
            <span class="uikit-swatch__code">
                &lt;div&gt;&lt;/div&gt;<br/>&lt;div class=&quot;m-s&quot;&gt;&lt;/div&gt;<br/>
            </span>
            <span class="uikit-swatch__legend">
                .m-s
            </span>
          </div>
        </div>
        <div class="uikit-swatch mt-m">
          <div class="uikit-swatch__body flex">
            <div class="square"></div>
            <div class="square -stylized m-m"></div>
          </div>
          <div class="uikit-swatch__footer">
            <span class="uikit-swatch__label">
                M size margin
            </span>
            <span class="uikit-swatch__code">
                &lt;div&gt;&lt;/div&gt;<br/>&lt;div class=&quot;m-m&quot;&gt;&lt;/div&gt;<br/>
            </span>
            <span class="uikit-swatch__legend">
                .m-m
            </span>
          </div>
        </div>
        <div class="uikit-swatch mt-m">
          <div class="uikit-swatch__body flex">
            <div class="square"></div>
            <div class="square -stylized m-l"></div>
          </div>
          <div class="uikit-swatch__footer">
            <span class="uikit-swatch__label">
                L size margin
            </span>
            <span class="uikit-swatch__code">
                &lt;div&gt;&lt;/div&gt;<br/>&lt;div class=&quot;m-l&quot;&gt;&lt;/div&gt;<br/>
            </span>
            <span class="uikit-swatch__legend">
                .m-l
            </span>
          </div>
        </div>
        <div class="uikit-swatch mt-m">
          <div class="uikit-swatch__body flex">
            <div class="square"></div>
            <div class="square -stylized m-xl"></div>
          </div>
          <div class="uikit-swatch__footer">
            <span class="uikit-swatch__label">
                XL size margin
            </span>
            <span class="uikit-swatch__code">
                &lt;div&gt;&lt;/div&gt;<br/>&lt;div class=&quot;m-xl&quot;&gt;&lt;/div&gt;<br/>
            </span>
            <span class="uikit-swatch__legend">
                .m-xl
            </span>
          </div>
        </div>
        <div class="uikit-swatch mt-m">
          <div class="uikit-swatch__body flex">
            <div class="square"></div>
            <div class="square -stylized m-xxl"></div>
          </div>
          <div class="uikit-swatch__footer">
            <span class="uikit-swatch__label">
                The biggest margin
            </span>
            <span class="uikit-swatch__code">
                &lt;div&gt;&lt;/div&gt;<br/>&lt;div class=&quot;m-xxl&quot;&gt;&lt;/div&gt;<br/>
            </span>
            <span class="uikit-swatch__legend">
                .m-xxl
            </span>
          </div>
        </div>
      </section>
      <section class="uikit-section -separator">
          <p class="uikit-subheading">
            We can control the margin on each side of an element individually using the padding property, or each side individually using the equivalent longhand properties.
            We'll use the 'S' size but every other size will work too.
          </p>
        <div class="uikit-swatch mt-m">
          <div class="uikit-swatch__body flex">
            <div class="square"></div>
            <div class="square -stylized mt-s"></div>
          </div>
          <div class="uikit-swatch__footer">
              <span class="uikit-swatch__label">
                  Margin top
              </span>
            <span class="uikit-swatch__code">
                &lt;div&gt;&lt;/div&gt;<br/>&lt;div class=&quot;mt-s&quot;&gt;&lt;/div&gt;<br/>
            </span>
            <span class="uikit-swatch__legend">
                .mt-s
            </span>
          </div>
        </div>
        <div class="uikit-swatch mt-m">
          <div class="uikit-swatch__body flex">
            <div class="square -stylized mr-s"></div>
            <div class="square"></div>
          </div>
          <div class="uikit-swatch__footer">
              <span class="uikit-swatch__label">
                  Margin right
              </span>
            <span class="uikit-swatch__code">
                &lt;div class=&quot;mr-s&quot;&gt;&lt;/div&gt;<br/>&lt;div&gt;&lt;/div&gt;<br/>
            </span>
            <span class="uikit-swatch__legend">
                .mr-s
            </span>
          </div>
        </div>
        <div class="uikit-swatch mt-m">
          <div class="uikit-swatch__body">
            <div class="square"></div>
            <div class="square -stylized mb-s"></div>
          </div>
          <div class="uikit-swatch__footer">
              <span class="uikit-swatch__label">
                  Margin bottom
              </span>
            <span class="uikit-swatch__code">
                &lt;div&gt;&lt;/div&gt;<br/>&lt;div class=&quot;mb-s&quot;&gt;&lt;/div&gt;<br/>
            </span>
            <span class="uikit-swatch__legend">
                .mb-s
            </span>
          </div>
        </div>
        <div class="uikit-swatch mt-m">
          <div class="uikit-swatch__body flex">
            <div class="square"></div>
            <div class="square -stylized ml-s"></div>
          </div>
          <div class="uikit-swatch__footer">
              <span class="uikit-swatch__label">
                  Margin left
              </span>
            <span class="uikit-swatch__code">
                &lt;div&gt;&lt;/div&gt;<br/>&lt;div class=&quot;ml-s&quot;&gt;&lt;/div&gt;<br/>
            </span>
            <span class="uikit-swatch__legend">
                .ml-s
            </span>
          </div>
        </div>
      </section>
    </div>
  </div>
