form,
.form
{
    /*
     * Global forms style
     */

    label
    {
        @extend .c-grey07;
        @extend .f-s;
        @extend .f-regular;

        line-height: 20px;
        @extend .relative;
    }

    .form-row
    {
        @extend .flex;
        @extend .flex-between;

        @extend .relative;

        @extend .py-xs;

        &.p-none
        {
            @extend .p-none;
        }

        height: 56px;

        &.h-auto
        {
            height: auto;
        }


        .form-label
        {
            width: 35%;
            min-width: 150px;

            @extend .mr-xxl;

            @extend .flex;
            @extend .flex-middle;

            &.w-50
            {
                width: 50%;
            }

            &.-align-top
            {
                @extend .flex-top;
            }
        }
    }

    .form-to
    {
        width: 72px;
        @extend .px-xxs;
        @extend .text-center;
        line-height: 40px;
    }

    .row
    {
        @extend .my-xs;

        &.my-none
        {
            @extend .my-none;
        }
    }

    .col-lg-2
    {
        @extend .pt-xs;
    }

    .error
    {
        @extend .f-xs;
        @extend .c-grey00;
    }

    .global-error,
    .global-warning
    {
        @extend .f-s;
        @extend .c-accent01;
        @extend .w-100;
        @extend .mt-l;
        @extend .p-xs;
        background-color: rgba($accent01, .05);
    }
}

duf-date-picker,
duf-input-currency {
    @extend .w-100;
}
