.textfield
{
    ////////////////////////////////////////////////////
    //
    //                  Global
    //
    ////////////////////////////////////////////////////

    $root: ".textfield";

    @extend .relative;
  
    #{$root}__field
    {
    }


    ////////////////////////////////////////////////////
    //
    //                  States
    //
    ////////////////////////////////////////////////////

    &:hover,
    &:focus,
    &:active,
    &.-active
    {
        &.-error
        {
        }
    }


    ////////////////////////////////////////////////////
    //
    //                  Variation
    //
    ////////////////////////////////////////////////////

    &.-disabled
    {
        cursor: default;

        #{$root}__field
        {
            pointer-events:none;
        }

        &:hover,
        &:focus,
        &:active
        {
        }
    }

    &.-error
    {
    }

}


